
.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }
  
  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 40%;
    padding: 50px;
   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
  }
  .text_stroke_hover {
    display: inline-block;
    position: relative;
    font-size: 43px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
  }
  .text_stroke_hover:hover{
    color: #fff;
  }
  .text_title{
    margin-top: -28px;
    text-transform: uppercase;
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .faqsec{
    padding: 30px 150px 0px 186px;
  }
  /* Mobile View */
@media only screen and (max-width: 600px) {
  .column2 {
    flex: 40% 1;
    padding: 50px 20px;
}
.logosec {
  padding-left: 20px;
}
.mlsec svg{
  width: 100px;
}
.faqsec {
  padding: 20px;
}
.text_stroke_hover {
  display: inline-block;
  position: relative;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
}
.text_title {
  margin-top: -13px;
  text-transform: uppercase;
  font-size: 27px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
}
 