@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet');
.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }

  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 40%;
    padding: 50px;
   /* Should be removed. Only for demonstration */
  }
  .columns1 {
    flex: 60%;
   /* Should be removed. Only for demonstration */
  }
  .columns2 {
    flex: 40%;

   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
  }
  .menuicon{
    top: 0 !important;
  }


  .atitle
  {
    font-size: 38px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .aboutsec
  {
    margin-top: -5px;
    padding: 100px 120px;
  }

  .aboutcontent
  {
    display: flex;
  }
  .abcol1
  {
    flex: 50%;
  }
  .abcol2
  {
    flex: 50%;
  }

 

  .aboutpb
  {
    padding-bottom: 50px;
  }

  .heading
  {
    font-size: 18px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
   
  }


  .desc
  {
    font-size: 14px;
    color: #9E9E9E;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    padding-bottom: 25px;
  }

  .btnrow
  {
    display: flex;
  }

  .btnelegant
  {
     background-color: #000;
     border: 1px #9E9E9E solid;
     font-size: 14px;
     padding: 8px 30px;
     color: #9E9E9E;
     border-radius: 25px;
     font-weight: lighter !important;
  }

  .btnelegant1
  {
    background-color: #000;
    border: 1px #9E9E9E solid;
    font-size: 14px;
    padding: 8px 30px;
    color: #9E9E9E;
    border-radius: 25px;
    font-weight: lighter !important;
    margin-left: 10px;
  }
  .btnelegant2
  {
    background-color: #000;
    border: 1px #9E9E9E solid;
    font-size: 14px;
    padding: 8px 30px;
    color: #9E9E9E;
    border-radius: 25px;
    font-weight: lighter !important;
    margin-top: 20px;
  }

  .aboutpb
  {
    padding-bottom: 50px;
  }

  .imagerow
  {
    display: flex;
    padding: 0 10px;
    gap: 5px;
  }
 
  .interrow
  {
    display: flex;
    margin-top: -5px;
    padding: 10px 10px;
  }
  .intercol1
  {
    /* flex: 35%; */
    padding: 50px 60px 0 60px;
    border: 1px solid #fff;
    border-radius: 7px;
  }
  /* .intercol2
  {
    flex: 65%;
  } */
  .textrow
  {
    display: flex;
  }
  .abcdcol
  {
  flex: 80%;
  }
  .aacol
  {
    flex: 20%;
    text-align: end;
  }

  .abcdtext
  {
    color: #F19307;
    font-size: 16px;
    line-height: 25px;
    font-family: Poppins, sans-serif;
  }
  .aatext
  {
    color: #fff;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  .stext
  {
    color: #F19307;
    font-size: 12px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin-top: -5px;
    padding-left: 25px;
  }

.titlerow
{
    padding: 0;
    margin: 0;
}
  .intertext
  {
   font-size: 160px;
    font-family: Poppins, sans-serif;
    color: #fff;
    margin: 0;
    font-weight: 700;
    line-height: 1; 
    padding-left: 0;
    
  }

  .introw
  {
    display: flex;
  }

  .introw1
  {
   margin-left: 10px;
  }
  .introw2
  {
   margin-left: 10px;
  }
  .introw3
  {
   margin-left: 10px;
  }

  .headerrow
  {

    padding: 80px 200px 0px 0px;
    
  }
  .headerimage
  {
    display: flex;
    flex-direction: row;
    background-image: url(/home/portfolios/predicta-digital/HEADER.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 230px;
    position: relative;
  }

  .bodyrow
  {
    padding: 80px 140px 80px 0px;

  }


  .bodyimage
  {
    display: flex;
    flex-direction: row;
    background-image: url(/home/portfolios/predicta-digital/BodyText.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 400px;
    position: relative;
   
  }
  .headertext
  {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 32%;
    left: 12%;
    
  }
  .headerp
  {
  color: #fff;
  font-size: 18px;
  }

  

  .head
  {
    color: #fff;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    padding: 10px 20px 0;
  }

  .workcoloum
  {
    padding: 0 30px;
  }
  .whychooseus
  {
    color: #fff;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    text-align: center;
    font-weight: 200;
    text-decoration: underline; 
    text-decoration-color: #F19307; 
  }
  .workshowcase
  {
    color: #fff;
    font-size: 40px;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    font-weight: 600;
  }

   .workborder
   {
    border: 2px dashed #F19307;
    padding: 5px 0;
   }
  .fs15
  {
    color: #fff;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    text-align: center;
    font-weight: 200;
  }

  .fs40
  {
    color: #fff;
    font-size: 40px;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    font-weight: 600;
    line-height: 1;
  }

  .fs20
  {
    color: #fff;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    font-weight: 600;
  }
  .predesc
  {
    width: 550px;

  }
.description
{
    color: #fff;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    text-align: left;
    font-weight: 200; 
    line-height: 18px;
}


.marketingsec
{
  margin-top: -5px;
  background-color: #fff;
  padding: 10px;
}

.marketingrow
{
  display: flex;
}
.mrow1_responsive
{
  display: none;
}
.mrow1
{
    flex: 19%;
}
.mrow2
{
    flex: 40%;
    margin-left: 5px;
}

.mrow3
{
    flex: 48.5%;
    margin-left: 5px;
}

.mcoloum
{
  display: flex;
  flex-direction: column;
}

.tcoloum
{
    display: flex;
    flex-direction: column; 
}
.tcol1
{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 7px;
    padding: 40px 30px 30px 50px;
}
.listicle
{
    font-size: 18px;
    color: #000;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    padding-bottom: 20px;
}
.marketing
{
    font-size: 28px;
    color: #000;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    line-height: 32px;
    padding-right: 100px;
    text-transform: uppercase;
    padding: 10px 60px 20px 0;
}

.mlisting
{
    margin: 0;
    padding: 0;
}
.listingli
{
    font-size: 14px;
    color: #616161;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    line-height: 20px;
    text-transform: capitalize;
    padding-bottom: 15px;
    margin-left: -22px;
    margin-right: 80px;
    
}

.listingli::marker {
  color: orange; 
  font-size: 20px;
}

.tcol2
{
    border-radius: 7px;
    margin-top: 5px;
   
}

.graphicrow
{
  background-color: #fff;
  margin-top: -5px;
}
.macbookrow
{

  padding: 10px 5px 0px;
  margin-top: -70px;
  background-color: #000;

}
.macrow
{
  padding: 0 5px;
}
.maccoloum
{
  display: flex;
  padding: 0 5px;
  gap: 5px;
}


@media only screen and (max-width: 600px)
{
  .logosec 
  {
    padding-left: 20px;
  }
 .column2 
 {
  flex: 40% 1;
  padding: 50px 20px;
 }

 .aboutsec
 {
  padding: 40px 10px;
 }
 .aboutcontent
 {
  display: block;
 }
 .interrow
 {
  display: block;
 
 }
 .intercol1
 {
  padding: 10px;
  margin: 40px 0;
 }
 .intertext
 {
  font-size: 120px;
 }
 .introw1
 {
  margin-left: 0px;
 }
 .introw
 {
margin-top: 10px;
 }
 .headerrow
 {
  padding: 0;
 }
 .bodyrow
 {
  padding: 0;
 }
 .headertext
{
  left: 0;
}
.workshowcase
{
  padding: 0;
  font-size: 16px;
}
.fs40
{
  font-size: 20px;
}
.whychooseus
{
  padding: 0;
}
.head
{
  padding: 0 0 0 10px;
}
.workcoloum
{
  padding: 0 12px;
}
.headerimage
{
  height: 150px;
}
.predesc
{
  width: auto;
}
.description
{
  font-size: 8px;
  line-height: 12px;
  padding: 0 10px;
}
.bodyimage
{
  height: 250px;
}
.marketingrow
{
  display: block;
}
.mrow1
{
  display: none;
}
.mrow1_responsive
{
  display: block;
  margin: 30px 0;
}
.mrow2
{
  margin-left: 0;
}
.marketing
{
  font-size: 24px;
  padding: 10px 10px 20px 0;
  line-height: 28px;
}
.aboutpb
{
  padding-bottom: 30px;
}
.atitle
{
  font-size: 24px;
  padding-top: 10px;
}
.abcol2
{
  padding: 40px 0 0;
}
.abcdtext
{
  font-size: 14px;
  line-height: 20px;
}
.intertext
{
  font-size: 100px;
}
.listingli
{
  font-size: 14px;
  margin-right: 0;
}
.workborder
{
  margin-right: 5px;
}
.mrow3
{
  margin-left: 0;
}
.maccoloum
{
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px 10px; 
}
.macbookrow
{
  padding: 10px 10px;
  margin-top: -20px;
}

.macrow
{
  padding: 0px 10px 10px;
}

}
 