.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }
  
  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 40%;
    padding: 50px;
   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
  }
  .menuicon{
    top: 0 !important;
  }
  .text_stroke_hover {
    display: inline-block;
    position: relative;
    font-size: 63px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
  }
  .text_stroke_hover:hover{
    color: #fff;
  }
  .text_title{
    margin-top: -28px;
    text-transform: uppercase;
    font-size: 63px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .stext_stroke_hover {
    display: inline-block;
    position: relative;
    font-size: 63px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
  }
  .stext_stroke_hover:hover{
    color: #fff;
  }
  .contacthero{
    padding: 0px 150px;
  }

  .colcont1 {
    flex: 80%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .colcont2 {
    flex: 25%;
    padding: 50px;
   /* Should be removed. Only for demonstration */
  }
  .contimg{
    margin-top: 20px;
  }
  .coladd1 {
    flex: 40%;
   /* Should be removed. Only for demonstration */
  }
  .coladd2 {
    flex: 80%;
    padding-left: 20px;
   /* Should be removed. Only for demonstration */
  }
  .country{
    margin-top: 5px;
    width: 45px;
  }
  .ctitle{
    color: #fff;
    font-size: 52px;
    font-family: 'poppins';
    font-weight: 200 !important;
  }
  .cdesc{
    color: #fff;
    font-family: 'poppins';
  }
  .addsec{
    margin-top: 163px;
  }
  .cmob{
    margin-top: 15px;
    color: #fff;
    font-family: 'poppins';
  }
  .wokeani {
    background: #fff;
    opacity: 0.2;
    padding: 20px;
    rotate: 4deg;
    transform: skewX(5deg);
  }
  .wokeani span{
    font-family: 'poppins';
    margin: 0 30px;
    font-size: 30px;
    font-weight: 600;
  }
  .wokeanilr {
    margin-top: -80px;
    background: #fff;
    padding: 20px;
    rotate: -4deg;
    transform: skewX(-4deg);
  }
  .wokeanilr span{
    font-family: 'poppins';
    margin: 0 30px;
    font-size: 30px;
    font-weight: 600;
  }
  .reachsec{
    padding: 100px 0;
  }
  