.reachhero{

}
.row {
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
    padding: 0px 0px 60px 0px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 65%;
    padding: 20px 0;
    background: #fff;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 32%;
    padding: 50px;
    background: #FFF8F0;
   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
    padding-top: 11px;
  }
  .text_stroke_hover {
    display: inline-block;
    position: relative;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-transform: uppercase;
  }
  .text_stroke_hover:hover{
    color: #fff;
  }
  .text_title{
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }
  .innersec{
    padding: 25px 20px 50px 80px;
  }
  .innercolumn1 {
    flex: 22%;
    background: #fff;
   /* Should be removed. Only for demonstration */
  }
  .innercolumn2 {
    flex: 40%;
    display: flex;
    padding-right:0;
   /* Should be removed. Only for demonstration */
  }
  .imginner1{
    flex: 40%;
    background: #fff;
   /* Should be removed. Only for demonstration */
  }
  .imginner2{
    flex: 60%;
    background: #fff;
   /* Should be removed. Only for demonstration */
  }
  .reachimg{
    margin: 5px;
    width: 88% !important;
    height: 53.2vh  !important;
  }
  .rowimg {
    object-fit: contain;
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }
  .reachimg1{
    width: auto !important;
    height: 23vh !important;
    margin: 5px;
  }
  .reachimg2{
    width: auto !important;
    height: 23vh !important ;
    margin: 5px;
  }
  .reachimg3{
    width: auto !important;
    height: 28.8vh    !important;
    margin: 5px;
  }
  
  .formcontainer{
    padding: 60px 30px !important;
  }
  .caas{
    margin-left: -35px;
    width: 40% !important;
  }
  .fdesc{
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 20px;

  }
  .conhead{
    margin-top: 50px;
    font-family: 'poppins';
    color: #fff;
    font-size: 25px;
  }
  .scicon{
    width: 6% !important;
    margin: 0 11px 0 0;
  }
  .socialmedia{
    margin-top: 20px;
  }
  .formhead{
    color: #000000;
    font-family: 'poppins';
    font-size: 4.6vh;
    text-align: center;
  }
  .formdesc{
    margin-top: 0px;
    font-family: 'poppins';
    font-weight: 300 !important;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  .formInput{
    width: 100%;
    margin: 20px 0;
  }
  .phone{
    padding-left: 20px !important;
  }
  .subsbtns{
    padding: 13px 30px 13px 30px;
    background: #000;
    float: right;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'poppins';
    border-radius: 10px;
    margin: 0 11px 30px 11px;
  }
  .flexs{
    display: flex !important;
  }
  .formInput input,.formInput select{
    width: 100%;
    font-weight: 300 !important;
    padding: 5px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'poppins';
    font-size: 16px;
    color: #000;
    -webkit-transition: 0.1s;
  transition: 0.1s;
  }
  .formInput input:focus {
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
  }
  .checktitle{
    font-size: 18 px;
    color: #000;
    font-family: 'poppins';
    font-weight: 300 !important;
    margin-bottom: 10px;
  }
  .chekinput, .chekinputt{
    font-family: 'poppins';
    margin: 5px 0;
  }
  .chekinput label{
    font-weight: 300;
    margin: 0 35px 0 0;
  }
  .chekinputt label{
    font-weight: 300;
    margin: 0 19px 0 0;
  }
  .contbtn{
    background: #000;
    color: #fff;
    font-size: 20px;
    float: right;
    padding: 12px 20px;
    border-radius: 10px;
  }
  .subsbtn{
    background: #000;
    float: right;
    color: #fff;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 16px;
    font-family: 'poppins';
    text-transform: uppercase;
  }
  /* components/RotatingText.module.css */

  .text {
    margin-bottom: 10px;
    font-size: 3.4vw;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-transform: uppercase;
    position: relative; /* For positioning the rotating text */
    line-height: 50px;
  }
  
  
  .slideIn {
    animation: slideIn 0.8s ease-out forwards;
  }
  
  .slideOut {
    animation: slideOut 0.8s ease-in forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-30px);
      opacity: 0;
    }
  }

  
  
  
  
  .typing-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    animation: Typing 3s steps(20, end) forwards;
  }
  
  @keyframes Bar {
    0% {
       border-right: 1.6px solid rgba(226, 192, 68,0);
    }
    50% {
       border-right: 1.6px solid #000;
    }
    100% {
        border-right: 1.6px solid rgba(226, 192, 68,0);
    }
  }
  .rsearch {
    margin-top: 5px;
    height: 20px !important;
    width: 20px !important;
    margin-right: 17px;
}
.caassec{
  position: absolute;
    right: 65vh;
    bottom: -14vh;
  
}
.cass{
  width: 31vh !important;
   
}
.partnersec{
  margin: 10px 5px;
}
.partnerh{
  font-weight: 600;
  font-family: 'poppins';
  font-size: 20px;
}
.partnerimgsec{
  cursor: pointer;
  align-items: baseline;
  vertical-align: middle;
  display: flex;
  margin: 15px 0;
}
.partnerimg{
  margin-right: 15px;
  width: 120px;
  filter: grayscale(1);
}
.shopify{
  width: 100px !important;
  margin-right: 15px !important;
  filter: grayscale(1);
}
.partnerimg:hover , .shopify:hover{
  filter: grayscale(0);
 
}
.mobmenu{
  background: #fff;
}
.mobmenu{
  overflow: hidden;
  display: none;
}
.services{
  display: none;
}

.rotatingText
{
  -webkit-text-stroke-color: transparent;
    margin-top: -28px;
    text-transform: uppercase;
    font-size: 4.1vw;
    font-family: 'Poppins', sans-serif;
    color: #000;
    line-height: 0;
}

.secondsec{}
.gridContainer {
  align-items: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 0; /* Adjust as needed */
}

.gridItem {
  align-items: center;
  font-family: 'poppins';
  height: 100px;
  border: 0.5px solid #ffffff30;
  background-color: transparent; /* Optional: background color for each item */
  padding: 20px; /* Optional: padding for each item */
  text-align: center;
  transition: transform 0.3s;
}



.prtitle {
  color: #fff;
  font-size: 1.5em;
 
}
.prtitle:hover{
  color: rgb(52, 255, 157) !important;
}

.prdesc {
  font-size: 12px;
  color: #fff; /* Optional: color for the description */
}
.overtext{
  color: #fff;
    text-align: left;
    font-size: 17px;  
}

.prodifff{
  margin: 100px 20px;
}
.columnpdiff2 h3:hover, .columnpdiff3 h3:hover, .columnpdiff4 h3:hover, .columnpdiff5 h3:hover, .columnpdiff6 h3:hover {
  color: rgb(52, 255, 157) !important;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  width: 100%;
  border-bottom: 1px solid #000 !important;
  color: #000000ad;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  cursor: pointer !important;
  text-align: left;
  font-family: 'poppins';
  background: transparent;
  font-weight: 300 !important;
}
.dropdownButton::after{
  content: ">";
  color: #000;
  font-weight: 500;
  rotate: 90deg;
  position: absolute;
  right: 20px;
  font-size: 20px;
  cursor: pointer !important;
}
.dropdownButton::after:active{
  rotate: -90deg;
}


.dropdownContent {
  font-family: 'poppins';
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 !important;
  align-items: center;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  height: 165px;
  top: 223px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  overflow-y: hidden;
  background: #fff8f0;
  border-radius: -3px;
}

.checkboxLabel {
  display: flex;
  padding: 8px 16px;
}

.checkboxLabel input {
  margin-right: 8px;
  width: 10%;
}

.checkboxLabel:hover {
  background-color: #f1f1f1;
}
/* Loading spinner styles */
.loading {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

/* Success message styles */
.successMessage {
  background-color: rgb(57, 181, 57);
  text-align: center;
  font-family: 'poppins';
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
}

/* Error message styles */
.errorMessage {
  text-align: center;
  font-family: 'poppins';
  font-size: 18px;
  color: #fff;
  background: red;
  margin-top: 10px;
}

/* Form error message styles */
.formError {
  text-align: center;
  font-family: 'poppins';
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
  background: rgb(247, 79, 79) !important;
  margin-top: 10px;
  padding: 12px;
}



.brandsec
{
    margin-top: -5px;
    padding: 50px 150px;

}

.stext_title{
    margin-top: -28px;
    text-transform: uppercase;
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 700;
    -webkit-text-stroke-color: transparent;
  }
  .stext_stroke_hover {
    display: inline-block;
    position: relative;
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
    line-height: 50px;
  }

  .stext_stroke_hover:hover{
    color: #fff;
    
  }
  .shead
  {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-top: 40px;
  }
  .sdesc
  {
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 18px;
    font-weight: 300 !important;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 350px;
  }
   
  .yhead
  {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #F6FA5E;
    padding-top: 30px;
    text-align: center;
  }
  .brandrow
  {
    display: flex;
    padding: 50px 0px;

  }
  .brow1
  {
    flex: 70%;
  }

  .brow2
  {
    flex: 50%;
  }
  .bdesc
  {
    font-family: 'poppins';
    color: #ffffff;
    font-size: 18px;
    font-weight: 300 !important;
    padding: 20px 0 20px 50px;
    line-height: 24px;
    
  }

  .phead
{
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  padding: 40px 0 0px 50px;
}
/********************************* comprehension section css*******************************/

.compsec
{
 
  padding: 100px 150px 100px !important;
  margin-top: 0 !important;

}


/********************************* our work section css ************************/
.worksec
{
  margin-top: -5px;
  padding: 100px 150px 40px;

}
.worksubhead
  {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-top: 30px;
  }
  .workdesc
  {
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 18px;
    font-weight: 300 !important;
    margin-bottom: 30px;
    margin-right: 350px;
  }
  .workimages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 150px;
   
  }
  .btncenter
  {
    text-align: center;
    padding: 80px 0;
  }
  .explorebtn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Poppins';
    
  }
  .explorebtn:hover {
    background: white;
    color: black;
  }
  .logoimages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 50px 150px 50px 150px;
  }

  /* let's discuss  css section starts */

 
  .discuss_row{
    overflow: hidden;
    padding: 30px 0 0 50px;
    margin: 50px 150px 100px;
    border: 1px solid #fff;
    border-radius: 10px ;
  }
  .mainheadingdis {
    margin-top: 0;
    font-size: 58px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
  }
  .sec_headingdis{
    margin-top: -35px;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 58px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .disdesc{
    margin-bottom: 40px;
    color: #fff;
    font-family: "poppins";
    font-size: 18px;
    font-weight: 300 !important;
    padding-right: 200px;
  }
  .booknow{
    margin-top: 100px;
  }
  .bookwrap1{
    padding: 3px 0;
    opacity: 1;
    background-color: #fff;
    rotate: -25deg;
    width: 505px;
    margin-right: -52px;
    float: right;
    margin-top: -102px;
  } 
  .bookwrap{
    padding: 3px 0;
    opacity: 0.5;
    background-color: #fff;
    rotate: -15deg;
    width: 671px;
    margin-right: -19px;
    float: right;
    margin-top: -86px;
  } 
  .bookwrap span{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
  
  }
  .bookwrap1 span{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
  
  }

/* accordian css */


.compsec
{
  margin-top: -150px;
  padding: 100px 120px ;

}

.comprow {
  /* display: flex; */
  margin-bottom: 20px;
  margin: 0px 150px 10px 150px;
}


/* Box style */
.row1 {
  flex: 50%;
  cursor: pointer; 
  transition: all 0.3s ease;
  padding: 15px 40px 0 30px;
  border: 1px solid #9e9e9e;
  padding: 10px 15px 10px 40px;
  border-radius: 8px 8px 0px 0px;
}
.row2 {
  flex: 50%;
  cursor: pointer; 
  transition: all 0.3s ease;
  margin-top: 0px;
  border-left: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  padding: 10px 15px 10px 40px;
  border-radius: 0px;
}
.row6 {
  flex: 50%;
  cursor: pointer; 
  transition: all 0.3s ease;
  margin-top: 0px;
  border-left: 1px solid #9e9e9e;
border-right: 1px solid #9e9e9e;
border-bottom: 1px solid #9e9e9e;
  padding: 10px 15px 10px 40px;
  border-radius: 0px 0 8px 8px;
}

/* .arrow */
.arrow {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px; /* Ensure arrow is big enough */
  transition: transform 0.3s ease-in-out; /* Apply rotation transition */
  user-select: none; /* Prevent text selection */
  color: #f6fa5e;
  border: 1px solid #9E9E9E;
  padding: 10px 15px 15px 15px;
  border-radius: 50%;
}

.arrow.open {
  /* transform: rotate(180deg);  */
  border: 1px solid #9E9E9E;
  max-height: 1000px; 
  padding: 10px 15px 150px 15px;
  border-radius: 30px; 
}

.arrowImage
{
  width: 17px;
}

/* .sectionContent */
.sectionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Smooth transition */
 
}

.showContent {
  max-height: 1000px; 
  /* padding: 20px 0;  */
  margin-top: -210px;
}

/* .header */
.header {
  display: flex;
  justify-content: space-between; /* Align text and arrow */
  /* align-items: center; */
 
}

/* .header .textContent */
.header .textContent {
  font-size: 18px;
}

/* h2 styles */
.header h2 {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

/* Section content shown when box is opened */
.sectionContent {
 
  color: #fff;
  font-size: 14px;
  /* margin-top: -245px; */
  /* margin-top: -220px; */
  
}

/* Hover effect for box */
.row1:hover, .row2:hover {
  background-color: #000000;
  cursor: pointer;
}

/* .brandtitle */
.brandtitle {
  color: #ffffff;
  transition: color 0.3s ease;
}

/* Open Header Style */
.openHeader {
  color: #f6fa5e; /* Change color when opened */
  padding-top: 10px;
}

/* Row Styles */
.row1, .row2 {
  /* border: 1px solid #9e9e9e; */
  cursor: pointer;
  transition: all 0.3s ease;
 
}



/* Content Wrapper */
.contentWrapper {
  display: flex;
  flex-direction: row;
  z-index: 999;
  padding-bottom: 10px;

}

/* Image Wrapper */
.imageWrapper {
  flex: 40%;
  margin-right: 80px;
  margin-top: 35px;
}

.textContent
{
  flex: 60%;
}
.description
{
  font-family: 'Poppins', sans-serif;
  color: #ffffff; 
  font-size: 16px;
  margin-top: 80px;
  font-weight: lighter;
  margin-right: 160px;
 
}

.object-cover
{
  width: 100% !important;
}


.desktopv{
  display: block;
}
.mobilev{
  display: none;
}


.serdesktopv{
  display: block;
}
.sermobilev
{
  display: none;
}





/* Mobile view */

@media only screen and (max-width: 600px)
{
    @keyframes Typing {
        0% {
          width: 0;
        }
        100% {
          width: 80%;
        }
      }
     
      .formInput input{
        font-size: 14px !important;
      }
      .checktitle{
        font-size: 14px;
      }
      .chekinput label {
        font-weight: 300;
        margin: 0 10px 0 0;
        font-size: 12px;
    }
    .chekinputt label {
      font-weight: 300;
      margin: 0 10px 0 0;
      font-size: 12px;
    }
      .mobmenu {
        padding: 10px 20px;
        display: block;
      }
      .mobcol{
        flex: 50%;
      }
      .moblogo svg{
        width: 100px;
      }
      .logosec{
        display: none;
      }
      .search{
        width: 88%;
      }
      .innersec {
        padding: 20px;
    }
    .reachimg1, .reachimg2 {
      width: 48% !important;
      height: auto !important;
      margin: 5px;
    }
    .reachimg3 {
      width: 99% !important;
      height: auto !important;
      margin: 5px;
    }
    .reachimg {
      display: none;
    }
    .mobrow{
      display: flex;
    }
    .text {
      margin-bottom: 10px;
      font-size: 7.4vw;
      font-family: 'Poppins', sans-serif;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      text-transform: uppercase;
      position: relative;
      line-height: 28px;
    }
    .row {
      /* padding: 40px 40px 0 40px; */
      display: block;
      /* border: 1px solid #fff; */
      /* border-radius: 10px; */
    }
    .reachuslogo{
    
    }
    
    .rotatingText
    {
      font-size: 7.6vw;
    }
    .typing {
      overflow: hidden;
      font-family: 'poppins';
      white-space: nowrap;
      font-size: 14px;
      font-style: italic;
      color: #000;
      width: auto;
      border-right: 1.6px solid #000;
      animation: Typing 3.9s steps(70, end) infinite alternate, page_Bar__Cnavh 1s step-end infinite;
    }
    .rsearch {
      width: 14px !important;
      margin-right: 12px;
    }
    .column2 {
      flex: 32% 1;
      padding: 0px;
      background: #FFF8F0;
    }
    .formhead {
      color: #000000;
      font-family: 'poppins';
      font-size: 3.1vh;
      text-align: center;
    }
    .chekinput label {
      font-weight: 300;
      margin: 0 24px 0 0;
    }
    .chekinputt label {
      font-weight: 300;
      margin: 0 8px 0 0;
    }
    .formcontainer {
      padding: 81px 30px !important;
    }
    
    .shopify {
      width: 64px !important;
      margin-right: 15px !important;
      filter: grayscale(1);
    }
    .services {
      padding: 50px 20px;
    }
    
    .checktitle {
      font-size: 14px;
      color: #000;
      font-family: 'poppins';
      font-weight: 300 !important;
      margin-bottom: 10px;
    }
    .chekinput label {
      font-weight: 300;
      margin: 0px 10px 0 0;
      font-size: 12px;
    }
    .chekinputt label {
      font-weight: 300;
      margin: 0px 0px 0 0;
      font-size: 12px;
    }
    .dropdownButton {
      width: 100%;
      border-bottom: 1px solid #000 !important;
      color: #959392;
      padding: 10px 0;
      font-size: 14px !important;
      border: none;
      cursor: pointer !important;
      text-align: left;
      font-family: 'poppins';
      background: transparent;
    }
    .dropdownContent {
      font-family: 'poppins';
      font-size: 14px;
      display: block !important;
      padding: 0 !important;
      align-items: center;
      position: absolute;
      background-color: #f9f9f9;
      width: 100%;
      height: 111px;
      top: 223px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 99;
      overflow-y: scroll !important;
      background: #fff8f0;
      border-radius: -3px;
    }

     /* brand sec */

    .brandsec
    {
      padding: 30px 10px !important;
    }
    
    .sdesc
    {
      margin-right: 0 !important;
    }
    .brandrow
    {
      display: block !important;
    }
    .bdesc
    {
      padding: 10px 0px !important;
    }
    .stext_stroke_hover
    {
      font-size: 33px !important;
      line-height: 35px !important;
    }
    .stext_title
    {
      font-size: 33px !important;
    }
    .shead
    {
      font-size: 18px !important;
    }
    .sdesc
    {
      font-size: 14px !important;
    }
    .yhead
    {
      font-size: 14px !important;
      padding-top: 0 !important;
    }
    .bdesc
    {
      font-size: 14px !important;
      line-height: 20px !important;
    }
    
    
    .compsec
    {
      padding: 60px 10px 40px !important;
    }



    /* lets discuss section */

   
      .discuss_row {
        height: auto;
        overflow: hidden;
        padding: 30px 20px;
        margin: 0px 20px 50px;
        border: 1px solid #fff;
        border-radius: 10px;
      }
      .mainheadingdis {
        margin-top: 0;
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        text-transform: uppercase;
      }
      .sec_headingdis {
        margin-top: -9px;
        padding: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        margin-bottom: 5px;
      }
      .disdesc {
        margin-bottom: 40px;
        color: #fff;
        font-family: "poppins";
        font-size: 16px;
        font-weight: 300 !important;
        padding-right: 22px;
      }
      .bookwrap1{
        padding: 3px 0;
        opacity: 1;
        background-color: #fff;
        rotate: -7deg;
        width: 505px;
        margin-right: -52px;
        float: right;
        margin-top: -80px;
      }

      /* work section */

      .worksec
      {
        padding: 100px 10px 40px;
      }
      .workdesc
      {
        margin-right: 0;
      }
      .worksubhead
      {
        font-size: 0px;
      }
      .workimages
      {
        display: block;
        padding: 0px 10px;
      }
      .workimg
      {
        padding: 3px 0px;
      }

       /* accordian  */

   .compsec
   {
     margin-top: -25px !important;
     padding: 100px 10px ;
   
   }
   
      .comprow
      {
       margin: 0px 10px 10px 10px !important;
      }
     
      .contentWrapper
      {
        display: block !important;
        padding: 0;
      }
      .arrow
      {
        border: none !important;
        padding: 0 !important;
        margin-top: 5px;
      }
      .showContent
      {
        margin-top: 30px !important;
      }
      .sectionContent
      {
        padding: 10px !important;
      }
      .header
      {
        padding: 20px 10px 0 10px;
      }
      .openHeader
      {
        padding: 0;
      }
      .showContent
      {
        margin-top: 10px !important;
      }
      .description
      {
        font-size: 14px;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 20px;
      }
      .row1
      {
        padding: 0px 15px 0px 10px !important;
      }
      .row2
      {
        padding: 0px 15px 0px 10px !important;
      }
      .row6
      {
        padding: 0px 15px 0px 10px !important;
      }
.header h2 {
   margin-top: 0 !important;
}
.imageWrapper
{
  margin-right: 0 !important;
}
.arrow.open
{
  margin-top: 15px !important;
}

.desktopv{
  display: none !important;
}
.mobilev{
  display: block !important;
}


.serdesktopv{
  display: none !important;
}
.sermobilev
{
  display: block !important;
}
.phead
{
  padding: 40px 0 0px 0px;
}

  
   
}



/* Tab view */


@media screen and (min-width: 600px) and (max-width: 1024px)
{
  @keyframes Typing {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
      /* Alternatively, you can set a large enough max-width */
      /* max-width: 100%; */
    }
  }
  
  .formInput input{
    font-size: 14px !important;
  }
  .checktitle{
    font-size: 14px;
  }
  .chekinput label {
    font-weight: 300;
    margin: 0 10px 0 0;
    font-size: 12px;
}
.chekinputt label {
  font-weight: 300;
  margin: 0 10px 0 0;
  font-size: 12px;
}
  .mobmenu {
    padding: 10px 20px;
    display: block;
  }
  .mobcol{
    flex: 50%;
  }
  .moblogo svg{
    width: 100px;
  }
  .logosec{
    display: none;
  }
  .search{
    width: 88%;
  }
  .innersec {
    padding: 20px;
}
.reachimg1, .reachimg2 {
  width: 48% !important;
  height: auto !important;
  margin: 5px;
}
.reachimg3 {
  width: 99% !important;
  height: auto !important;
  margin: 5px;
}
.reachimg {
  display: none;
}
.mobrow{
  display: flex;
}
.text {
  margin-bottom: 10px;
  font-size: 5.4vw !important;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-transform: uppercase;
  position: relative;
  line-height: 45px;
}
.row {
  /* padding: 40px 40px 0 40px; */
  display: block;
  /* border: 1px solid #fff; */
  /* border-radius: 10px; */
}
.reachuslogo{

}
.typing {
  overflow: hidden;
  font-family: 'poppins';
  white-space: nowrap;
  font-size: 14px;
  font-style: italic;
  color: #000;
  width: auto;
  border-right: 1.6px solid #000;
  animation: Typing 3.9s steps(70, end) infinite alternate, page_Bar__Cnavh 1s step-end infinite;
}
.rsearch {
  width: 14px !important;
  margin-right: 12px;
}
.column2 {
  flex: 32% 1;
  padding: 0px;
  background: #FFF8F0;
}
.formhead {
  color: #000000;
  font-family: 'poppins';
  font-size: 3.1vh;
  text-align: center;
}
.chekinput label {
  font-weight: 300;
  margin: 0 24px 0 0;
}
.chekinputt label {
  font-weight: 300;
  margin: 0 8px 0 0;
}
.formcontainer {
  padding: 81px 120px 140px !important;
}

.shopify {
  width: 64px !important;
  margin-right: 15px !important;
  filter: grayscale(1);
}


.checktitle {
  font-size: 14px;
  color: #000;
  font-family: 'poppins';
  font-weight: 300 !important;
  margin-bottom: 10px;
}
.chekinput label {
  font-weight: 300;
  margin: 0px 10px 0 0;
  font-size: 12px;
}
.chekinputt label {
  font-weight: 300;
  margin: 0px 0px 0 0;
  font-size: 12px;
}
.dropdownButton {
  width: 100%;
  border-bottom: 1px solid #000 !important;
  color: #959392;
  padding: 10px 0;
  font-size: 14px !important;
  border: none;
  cursor: pointer !important;
  text-align: left;
  font-family: 'poppins';
  background: transparent;
}
.dropdownContent {
  font-family: 'poppins';
  font-size: 14px;
  display: block !important;
  padding: 0 !important;
  align-items: center;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  height: 111px;
  top: 223px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  overflow-y: scroll !important;
  background: #fff8f0;
  border-radius: -3px;
}
.logosec 
{
    padding-left: 40px !important;
}

.overtext
{
  text-align: center;
  font-size: 28px;
    
}
.prtitle
{
  font-size: 2.6em;
}
.text
{
  font-size: 4.4vw;
}
.rowimg
{
  padding: 40px 200px 0 200px;
}
.rotatingText
{
  font-size: 5.4vw !important;
}

.brandsec
{
  padding: 50px 30px;
}
.bdesc
{
  padding: 20px 0 50px 50px;
}
.compsec
{
  padding: 100px 30px 100px !important;
}
.comprow
{
  margin: 0px 30px 10px 30px;
}
.worksec
{
  padding: 120px 30px 40px;
}
.workimages
{
  padding: 0 30px;
}


.logoimages
{
  margin: 50px 30px 50px 30px;
}


.discuss_row
  {
    margin: 100px 20px;
    padding: 30px 0 60px 50px;
  }
  .mainheadingdis
  {
   font-size: 50px;
   line-height: 94px;
  }
  .sec_headingdis
   {
    font-size: 50px;
   }
   .bookwrap1{
    width: 900px;
    rotate: -370deg;
   }
   .bookwrap
   {
    width: 800px;
    rotate: 15deg;
   }


   .desktopv{
    display: none !important;
  }
  .mobilev{
    display: block !important;
  }

  .comprow {
    margin: 0px 30px 10px 30px !important;
}
.imageWrapper
{
  margin-top: 60px !important;
}
.description
{
  margin-right: 120px !important;
}
.row1
{
  padding: 10px 15px 10px 40px !important;
}
.contentWrapper
{
padding: 0 0 25px 0 !important;
}
}



