.controw {
    margin: 100px 120px;
    overflow: hidden;
    display: flex;
    border: 1px solid #BCBCBC
    ;
    border-radius: 10px ;
  }
  .contcolumn1 {
    flex: 40%;
    padding: 50px 50px 80px 50px;
   /* Should be removed. Only for demonstration */
  }
  .contcolumn2 {
    background-color: #FFF8F0;
    flex: 50%;
    padding: 10px;
   /* Should be removed. Only for demonstration */
  }
  .formcontainer{
    padding: 60px 80px !important;
  }
  .caas{
    margin-left: -35px;
    width: 40% !important;
  }
  .fdesc{
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 16px;
  }
  .conhead{
    margin-top: 50px;
    font-family: 'poppins';
    color: #fff;
    font-size: 25px;
  }
  .scicon{
    width: 6% !important;
    margin: 0 11px 0 0;
  }
  .socialmedia{
    margin-top: 20px;
  }
  .formhead{
    color: #000000;
    font-family: 'poppins';
    font-size: 32px;
  }
  .formdesc{
    margin-top: -2px;
    font-family: 'poppins';
    font-weight: 300 !important;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .formInput{
    width: 100%;
    margin: 25px 0;
  }
  .formInput input{
    width: 100%;
    font-weight: 300 !important;
    padding: 5px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'poppins';
    font-size: 16px;
    color: #000;
    -webkit-transition: 0.1s;
  transition: 0.1s;
  }
  .formInput input:focus {
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
  }
  .checktitle{
    font-size: 18 px;
    color: #000;
    font-family: 'poppins';
    font-weight: 300 !important;
    margin-bottom: 10px;
  }
  .chekinput, .chekinputt{
    font-family: 'poppins';
    margin: 5px 0;
  }
  .chekinput label{
    font-weight: 300;
    margin: 0 46px 0 0;
  }
  .chekinputt label{
    font-weight: 300;
    margin: 0 30px 0 0;
  }
  .contbtn{
    background: #000;
    color: #fff;
    font-size: 20px;
    float: right;
    padding: 12px 20px;
    border-radius: 10px;
  }
  .footerwrap{
    background: #FFF6E8;
    padding: 80px 150px;
  }
  .footerrow {
    padding: 0px ;
    display: flex;
  }
  .footercol1{
    flex: 45%;
  }
  .footercol2{
    flex: 55%;
  }
  .footlogo{
    width: 25% !important;
    margin-bottom: 90px;
  }
  .countrytitle{
    font-family: 'poppins';
    font-size: 50px;
    font-weight: 275 !important;
  }
  .addr{
    font-family: 'poppins';
    font-size: 18px;
    padding-right: 66px;
    font-weight: 300 !important;
    margin: 30px 0;
  }
  .cphone{
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 300 !important;
  }
  .footdesc{
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 300 !important;
    margin-bottom: 30px;
  }
  .ftitle{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .flinks{
    font-family: 'poppins';
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 300 !important;
    cursor: pointer !important;
  }
  .plink{
    margin: 14px 0;
  }
  .updatet{
    font-size: 22px;
    font-family: 'poppins';
    font-weight: 400 !important;
  }
  .updatep{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 300 !important;
  }
  .footerrowss{
    margin-top: 50px;
  }
  .footinn{
    padding-left: 50px;
  }
  .substext{
    font-size: 22px;
    font-family: 'poppins';
    font-weight: 500 !important;
  }
  .subswrap{
    margin: 15px 0;
  }
  .subswrap input{
    background: transparent;
    padding: 12px 60px;
    font-family: 'poppins';
    width: 250px;
    border-radius: 10px;
    border: 1px solid #000;
  }
  .subsbtn{
    padding: 7px 15px 13px 15px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0 11px;
  }
  .subsbtns{
    padding: 13px 30px 13px 30px;
    background: #000;
    float: right;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'poppins';
    border-radius: 10px;
    margin: 0 11px 30px 11px;
  }
  .subbtni{
    margin-top: 3px;
    margin-bottom: -7px;
    width: 25px !important;
  }
  .subbtnisc{
    margin: 3px 6px;
    margin-bottom: -7px;
    width: 25px !important;
    cursor: pointer !important;
  }
  .gtintitle{
    font-size: 14px;
    font-family: 'poppins';
    font-weight: 300 !important;
  }
  .text_stroke_hoverc {
    display: inline-block;
    position: relative;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-transform: uppercase;
  }
  .text_stroke_hoverc:hover{
    color: #fff;
  }
  .text_titlec{
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }
  .calendlysec{
    background: #fff;
    padding: 80px 130px;
  }
  @media only screen and (max-width: 600px) {
    .controw {
      margin: 100px 20px;
      overflow: hidden;
      display: block;
      border: 1px solid #BCBCBC;
      border-radius: 10px;
  }
  .caas {
    margin-left: -13px;
    margin-bottom: 20px;
    width: 60% !important;
}
.scicon {
  width: 12% !important;
  margin: 0 11px 0 0;
}
.formcontainer {
  padding: 75px 40px !important;
}
.formhead {
  color: #000000;
  font-family: 'poppins';
  font-size: 22.5px;
}
.formdesc {
  margin-top: -2px;
  font-family: 'poppins';
  font-weight: 300 !important;
  font-size: 16px;
  margin-bottom: 50px;
}
  }