
  .contentWrapper
  {
    display: flex;
  }
  .cookietext {
    font-size: 13px;
    color: #9e9e9e;
    font-family: "Poppins", sans-serif;
    margin-left: 40px;
  }
  .cookieConsentWrapper {
    padding: 0; /* Default padding for desktop */
  }


  
  @media only screen and (max-width: 600px)
  {
    .cookietext
    {
        text-align: left;
        margin-right: 0;
        margin-left: 0;
    }
    .contentWrapper
    {
        text-align: center;
    }
    .CookieConsent
    {
      display: flex;
      align-items: center;
    }
    .cookieConsentWrapper {
      padding: 15px 0; /* Padding for mobile/tablet view */
    }
  }


  @media screen and (min-width: 600px) and (max-width: 1024px)
  {
    .cookietext
    {
       
        margin-right: 40px;
    }
  }
  
  
  
  