.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }

  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 40%;
    padding: 50px;
   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
  }
  .menuicon{
    top: 0 !important;
  }
  .bookwrap1{
           /* padding: 3px 0; */
    opacity: 1;
    background-color: #fff;
    rotate: -25deg;
    width: 65%;
    margin-left: -150px;
    float: left;
    margin-top: -23px;
  } 
  .bookwrap{
    padding: 3px 0;
    opacity: 0.5;
    background-color: #fff;
    rotate: -18deg;
    width: 72%;
    margin-left: -150px;
    float: left;
    margin-top: -28px;
  } 
  .bookwrap span{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
  
  }
  .bookwrap1 span{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
  
  }
  .booknow{
    height: 200px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left right"
      "left right";
  }
  
  .left-column {
    grid-area: left;
  }
  
  .right-column {
    grid-area: right;
    position: relative; /* Add this to position the pseudo-element */
  }
  
  .right-column::before {
    content: "";
    display: block;
    height: 50px; /* Height of the margin */
    width: 100%;
    position: absolute;
    top: -50px; /* Adjust this value based on where you want the margin */
    left: 0;
  }
  
  
.portsec{
  margin-top: -157px;
  padding: 0 150px 50px 150px;
}
/* Portfolio.module.css */



.title {
  margin-right: 31vh;
  display: inline-block;
    position: relative;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
}
.titles {
    direction: ltr;
    text-align: left;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
}
.sec_heading{
  margin-top: -30px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 3rem; /* Spacing between items */
  direction: rtl;
  padding-bottom: 200px;
}

.card {
  padding: 0 30px;
  border-radius: 10px;
  overflow: hidden;
}


.image {
  width: 100%; /* Full width for image */
  height: auto;
  border-radius: 10px;
}

.textContainer {
  font-family: 'poppins';
  text-align: left;
  margin-top: 1rem;
}
.homestar{
  width: 49px !important;
    position: absolute;
    top: -26px;
}
.itemTitle {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.2;
}

.category {
  font-size: 1rem;
  color: #bbb; /* Slightly lighter color for the category */
  margin-top: 0.5rem;
}

/* Zig-Zag Effect */

.card:nth-child(even) {
  transform: translateY(15rem) !important; /* Shifts odd cards downwards to create zig-zag effect */
}

/* Load More Button */

.loadMore {
  display: block;
  margin: 8rem auto 0rem auto;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loadMore:hover {
  border-color: #666666;
  background: #292929;
}
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
.texta{
  margin-top: 0;
  text-align: right;
  direction: ltr !important;
  padding: 0 30px;
}
.discuss_row{
  overflow: hidden;
  padding: 30px 0 0 50px;
  margin: 68px 200px;
  border: 1px solid #fff;
  border-radius: 10px ;
  margin-bottom: 140px;
}
.mainheadingdis {
  margin-top: 0;
  font-size: 58px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.sec_headingdis{
  margin-top: -35px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 58px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.disdesc{
  margin-bottom: 40px;
  color: #fff;
  font-family: "poppins";
  font-size: 18px;
  font-weight: 300 !important;
  padding-right: 200px;
}
.bookwraps1{
  padding: 3px 0;
  opacity: 1;
  background-color: #fff;
  rotate: -25deg;
  width: 505px;
  margin-right: -52px;
  float: right;
  margin-top: -102px;
} 
.bookwraps{
  padding: 3px 0;
  opacity: 0.5;
  background-color: #fff;
  rotate: -15deg;
  width: 671px;
  margin-right: -19px;
  float: right;
  margin-top: -86px;
} 
.bookwraps span{
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins';

}
.bookwraps1 span{
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins';

}
.booknows{
  margin-top: 100px;
}
.mlsec svg{
  width: auto;
}
/* Responsive Design */

@media (max-width: 767px) {
  .grid {
      grid-template-columns: 1fr; /* Single column on small screens */
  }

  .card {
      margin-top: 0; /* Remove top margin in single column layout */
  }

  .card:nth-child(odd) {
      transform: translateY(0); /* Remove zig-zag effect on small screens */
  }
}
.pointers{
  margin: 30px  0;
}
@media only screen and (max-width: 600px) {
  .grid {
    gap: 1rem;
    padding-bottom: 10px;
  }
  .logosec {
    padding-left: 20px;
}
.bookwrap1 span{
  font-size: 14px;
}
.bookwrap span{
  font-size: 14px;
}
.bookwrap{
  padding: 3px 0;
  opacity: 0.5;
  background-color: #fff;
  rotate: -34deg;
  width: 471px;
  margin-left: -77px;
  float: left;
  margin-top: -23px;
}
.bookwrap1{
  padding: 3px 0;
  opacity: 1;
  background-color: #fff;
  rotate: -28deg;
  width: 494px;
  margin-left: -83px;
  float: left;
  margin-top: -42px;
}
.portsec{
  margin-top: -157px;
  padding: 50px 20px;
}
.texta {
  text-align: left;
  direction: ltr !important;
  padding: 0;
}
.mlsec svg{
  width: 100px;
}
.title {
  margin-right: 0;
  display: block;
  position: relative;
  font-size: 33px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
}
.texta {
  margin-top: -60px;
  text-align: right;
  direction: ltr !important;
  margin-bottom: -63px;
  padding: 15px;
}
.card:nth-child(even) {
  transform: translateY(0rem) !important; /* Shifts odd cards downwards to create zig-zag effect */
}
.loadMore {
  display: block;
  margin: 3rem auto 2rem auto;
  padding: 1rem 3rem;
  font-size: 14px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card{
  direction: ltr;
}
.card {
  padding: 13px;
  border-radius: 10px;
  overflow: hidden;
}
.sec_heading {
  margin-top: -18px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 33px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.titles {
  direction: ltr;
  text-align: left;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.itemTitle {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}
.category {
  font-size: 0.7rem;
  color: #bbb;
  margin-top: 4px;
}
.column2{
  flex: 40% 1;
  padding: 50px 20px;
}
.homestar {
  width: 30px !important;
  position: absolute;
  top: -26px;
  right: 76px;
}
.discuss_row {
  overflow: hidden;
  padding: 25px;
  margin: 0px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom:90px;
}
.bookwraps{
  padding: 3px 0;
  opacity: 0.5;
  background-color: #fff;
  rotate: -8deg;
  width: 671px;
  margin-right: -50px;
  float: right;
  margin-top: -16px;
}
.bookwraps1{
  padding: 3px 0;
  opacity: 1;
  background-color: #fff;
  rotate: -17deg;
  width: 505px;
  margin-right: -52px;
  float: right;
  margin-top: -18px;
}
.bookwraps1 span, .bookwraps span{
  font-size: 18px;
}
.mainheadingdis {
  margin-top: 0;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.sec_headingdis {
  margin-top: -5px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.disdesc {
  margin-bottom: 40px;
  color: #fff;
  font-family: "poppins";
  font-size: 15px;
  font-weight: 300 !important;
  padding-right: 0;
  margin-bottom: 35px;
  margin-top: 15px;
}
.adesc {
  font-size: 16px;
  font-family: 'poppins';
  color: #9E9E9E;
  padding-right: 0;
}
}
  
