.processContainer {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px 100px 150px;
  }
  
  .pptitle {
    font-family: 'poppins';
    font-weight: lighter;
  }


  .processSteps {
    width: 75%;
  }
  
  .processSteps .step {
    position: relative;
    padding: 30px 0 30px 40px;
    transition: border-left 0.3s, color 0.3s;
  }
  
 
  
  .step {
    cursor: pointer;
    position: relative;
  }

  /* .step:nth-child(4) {
    padding-bottom: 30px;
  }  */

  .processImage {
    width: 60%;
    text-align: center;
  }
  
  .processImage img {
    max-width: 100%;
    height: auto;
    width: 68%;
    transition: opacity 0.3s ease-in-out;
  }
  

  
  /* Media Queries */
  @media only screen and (max-width: 600px) {
  
  
    .prosec {
      padding: 20px;
    }
  
    .pptitle {
      font-size: 14px;
    }
  
    .processContainer {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  
    .processSteps .step {
      padding-top: 15px;
    }
  
    .step:hover .description {
      height: 56px;
    }
  
    .description {
      font-size: 12px;
    }
  
    .step {
      margin-bottom: 10px;
    }
  
    .step:nth-child(4) {
      padding-bottom: 10px;
      border-bottom: 1px solid #ffffffba;
    }
  
    .processImage img {
      max-width: 100%;
      height: auto;
      width: 100%;
      transition: opacity 0.3s ease-in-out;
    }
  }
  
  @media screen and (min-width: 600px) and (max-width: 1024px) {
  
    .processImage {
      width: 65%;
    }
    .processContainer
    {
      padding: 100px 20px 100px 20px;
    }
  }
  