@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  scroll-behavior: smooth;
}
html, body {
  cursor:url('/home/cursor.svg'), auto;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  box-sizing: border-box;
  
}
@keyframes rotateCursor {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
a,button{
  cursor:url('/home/cursor.svg'), auto !important;
}
body{
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    background-color: #000;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
.boton_elegante {
  text-decoration: none;
    margin-top: 10px;
    font-family: 'poppins';
    padding: 15px 30px;
    border: 1px solid #fff;
    background-color: #000;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
  }
  
  .boton_elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 40%
    );
    transform: scale(0);
    transition: transform 0.1s ease;
  }
  
  .boton_elegante:hover::after {
    transform: scale(2);
  }
  
  .boton_elegante:hover {
    border-color: #666666;
    background: #292929;
  }
  .cursor {
    width: 20px;
    height: 20px;
    background-color: lawngreen;
    color: black;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .bar {
    display: block;
    height: 5px;
    width: 50px;
    background-color: #EF8354;
    margin: 10px auto;
  }
  .menuicon {
    position: relative;
    top: -120px;
    float: right;
    z-index: 300;
}
.menuicon {
    cursor: pointer;
    display: inline-block;
    width: 50px; /* or any suitable size for your design */
    height: auto; /* maintain aspect ratio */
    transition: transform 0.3s ease;
}

.menuicon svg {
    width: 100%;
    height: 100%;
}

.menuicon.open .line1 {
    transform: rotate(45deg); /* Increase the scaleY value to stretch the line */
    transform-origin: 48% 48%;
    fill: black;
}

.menuicon.open .line2 {
    opacity: 0;
}

.menuicon.open .line3 {
    transform: rotate(-45deg); /* Increase the scaleY value to stretch the line */
    transform-origin: 40% 40%;
    fill: black;
}

.line {
    transition: transform 0.3s ease, opacity 0.3s ease, stroke 0.3s ease;
}

.imageup{
 border: 1px solid #ffffff63;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInup {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page_img_row_col__2CFLz > .imageup > img:nth-child(even) {
  /* opacity: 0 !important; */
  animation: fadeInOut 10s infinite;
  
}
.page_img_row_col__2CFLz > .imageup > img:nth-child(odd) {
  /* opacity: 0 !important; */
  animation: fadeInup 10s infinite;
  
}

.page_img_row_col2__23XWl > .imageup > img:nth-child(odd) {
  /* opacity: 0 !important; */
  animation: fadeInOut 15s infinite;
  
}
.page_img_row_col2__23XWl > .imageup > img:nth-child(even) {
  /* opacity: 0 !important; */
  animation: fadeInup 15s infinite;
  
}

.page_img_row_col3__Goc8z > .imageup > img:nth-child(odd) {
  /* opacity: 0 !important; */
  animation: fadeInOut 7s infinite;
  
}
.page_img_row_col3__Goc8z > .imageup > img:nth-child(even) {
  /* opacity: 0 !important; */
  animation: fadeInup 7s infinite;
  
}
.page_logo_col__3wXi8 svg {
  width: 85%;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.filters button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}
.filters button.active {
  background-color: #333;
  color: #fff;
}
/* .gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 50px;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  display: inline-block;
  gap: 20px;
} */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
}
.columngal {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.gallery-item {
  position: relative;
  width: 32.33%;
}
.gallery-item img {
  margin-bottom: -4px;
  width: 100%;
  transition: transform 1s ease;
  height: auto;
}
.gallery-item:hover img {
  filter: brightness(49%);
}
.gallery-item:hover img.gallery_plinks__riMOI {
  filter: brightness(100%) !important;
}
.imgtitle{
  color: #fff;
    font-family: 'Poppins';
    font-size: 25px;
    text-transform: uppercase;
}
.portdesc{
  color: #fff;
  font-size: 14px;
  font-family: 'poppins';
  font-weight: 300 !important;
}
.pover{
   width: 78%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150px, -104pt);
  
  
}
.gallery-item:hover img {
  /* opacity: 0.3; */
  
}

.gallery-item:hover .pover {
  opacity: 1;
  width: 78%;
  
}
.imgblack{
  background-color: #000;
  border-radius: 15px;
  margin: 0;
}
div#fimg11 {
  margin-top: -197px;
}
div#fimg1 .pover {
  transform: translate(-150px, -158pt);
}
div#fimg4 .pover {
  transform: translate(-150px, -196pt);
}
#fimg6 .pover {
  transform: translate(-150px, -131pt);
}
#fimg5 .pover{
  transform: translate(-150px, -170pt);
}
#fimg7 .pover {
  transform: translate(-150px, -277px);
}
div#fimg8 .pover {
  transform: translate(-150px, -232pt);
}
#fimg9 .pover {
  transform: translate(-150px, -162pt);
}
#fimg10 .pover {
  transform: translate(-150px, -181pt);
}
div#fimg7 .gallery_plink__u_ez2{
  bottom: -60px !important;
}
#fimg11 .pover {
  transform: translate(-150px, -138pt);
}
video.videoint {
  width: 66%;
  padding: 50px 0 100px 0;
  border-radius: 10px !important;
}
.slick-next, .slick-prev {
  background-color: transparent !important;
}
#fimg4 {
  margin-top: -184px;
}
#fimg5 {
  margin-top: -80px;
}
#fimg6 {
  margin-top: 0px;
}
#fimg7 {
  margin-top: -105px;
}
#fimg8 {
  margin-top: -199px;
}
#fimg9 {
  margin-top: 0px;
}
#fimg10 {
  margin-top: -300px;
}

div#fimg2.gallery_plink__u_ez2 {
  margin-top: 8px;
}
div#fimg2 .pover {
  transform: translate(-150px, -159pt);
}
#fimg3 .gallery_plink__u_ez2{
  margin-top: 50px;
}
div#fimg3 .pover {
  transform: translate(-150px, -156pt);
}
div#fimg1 .gallery_plink__u_ez2 {
  margin-top: -50px;
}
#fimg4 .gallery_plink__u_ez2 {
  margin-top: 52px;
}
#fimg5 .gallery_plink__u_ez2 {
  margin-top: -39px;
}
#fimg8 .gallery_plink__u_ez2 {
  margin-top: 54px;
}
#fimg9 .gallery_plink__u_ez2 {
  margin-top: 50px;
}


/* styles/Carousel.css */
.testimonial{
  padding: 20px 110px;
} 
.carousel-container {
  margin-top: 0px ! IMPORTANT;
  width: 88%;
  margin: 0 auto;
}

.slick-prev, .slick-next {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer !important;
}

.card {
  /* background-color: #f8f9fa; */
  /* border: 1px solid #dee2e6; */
  border-radius: 5px;
  padding: 20px 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  /* text-align: center; */
  /* font-size: 1.2em; */
}
.card_inner {
  border: .5px solid #ffffff70;
  width: 38.2vh !important;
  height: 338px;
  padding: 20px;
  border-radius: 8.24px;
}
h2.client_h2 {
  margin-bottom: 10px;
  font-size: 3.3vh;
  font-weight: 600;
  color: #fff;
  font-family: 'poppins';
}
.client_desg{ 
  margin-bottom: 10px;
  font-size: 11px  ;
  font-weight: 300;
  color: #fff;
  font-family: 'poppins';
}
.client_review{
  margin-top: 30px !important;
  font-size: 2.1vh  !important;
  font-weight: 300 !important;
  color: #fff;
  line-height: 25px;
  font-family: 'poppins';
}
.stars {
  color: #F6FA5E;
  margin: 0 2px;
  font-size: 24px;
}
.startsicon{
  margin: 15px 0;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 30px !important;
  line-height: 1;
  opacity: 1 !important;
  color: #F6FA5E !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before {
  content: '<';
  margin-left: -30px;
}
.slick-next:before {
  content: '<';
  margin-left: 20px;
}
.arrow_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pointer1{
  margin-top: 0px !important;
}
.rstar{
  margin: 0 30px;
}

.arrow {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin: 5px 0;
}

.arrow1 {
  border-top: 10px solid #444;
  animation: bounce 1s infinite;
}

.arrow2 {
  border-top: 10px solid #666;
  animation: bounce 1s infinite 0.2s;
}

.arrow3 {
  border-top: 10px solid #888;
  animation: bounce 1s infinite 0.4s;
}

.arrow4 {
  border-top: 10px solid #aaa;
  animation: bounce 1s infinite 0.6s;
}

.arrow5 {
  border-top: 10px solid #ccc;
  animation: bounce 1s infinite 0.8s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}
.mtbtn{
  margin-top:30ox !important;
  text-transform: uppercase;
}
.brandspan{
  font-weight: 600;
  font-size: 55px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9E9E9E;
    text-transform: none;
    margin: 0 0 0 40px;
}
.menusec {
  margin-top: 150px;
  padding: 0 0 0 60px;
}
.menurow {
  padding: 0px ;
  display: flex;
  border-radius: 10px ;
}
.mcol1{
  flex: 80%;
}
.mcol2{
  flex: 20%;
}
.msocial{
  width: 30px !important;
    display: block;
    margin: 23px auto
}
.socialsec{
  margin-top: 80px;
}
.menuitem{
  margin-bottom: 20px ;
}
a.mitem {
  font-size: 25px;
  color: #000;
  font-weight: 300;
  text-decoration: none;
  font-family: 'Poppins';
}
.active{
  font-size: 35px !important;
  color: #000;
  font-weight: 700 !important;
  text-decoration: none;
  font-family: 'Poppins';
}
.gtt {
  writing-mode: vertical-lr;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  margin: auto;
  font-family: 'poppins';
  color: #a8a8a8;
}
.border-bottom{
  background: #9595955e;
  height: 1px;
  margin-top:-12px
}
.mcopy {
  margin-top: 122px;
  text-align: center;
  font-family: 'poppins';
  font-size: 14px;
}
#wrapper {
  overflow: hidden;
}
.menuwrap {
  box-sizing: border-box;
  z-index: 100;
  width: 600px !important;
  padding: 16px;
  height: 100%;
  position: fixed !important;
  top: 0;
  right: 0;
  border-radius: 20px 0 0 20px;
  float: right;
  transition: right .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}

.inactive {
  right: -650px;
  
}

.doodbg {
  background-color: #FFF6E8;
}
.inactive {
  
}
.slick-next:before, .slick-prev:before {
  font-family: 'Poppins' !important;
  font-size: 30px !important;
  line-height: 1;
  opacity: 1 !important;
  color: #f6fa5e !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}
.slick-arrow.slick-prev {
  background: transparent !important;
}
button.slick-arrow.slick-next {
  background: transparent !important;
}
.slick-next:before, .slick-prev:before {
  font-family: 'Poppins';
  font-size: 26px !important;
  line-height: 1;
  font-weight: 600 !important;
  border-radius: 64% !important;
  background: #f6fa5e !important;
  opacity: 1 !important;
  padding: 0px 10px !important;
  color: #000 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-next:before {
  content: ">" !important;
  margin-left: 10px;
}
/* styles.css */
.accordion {
  /* display: flex;
  flex-direction: column; */
  
}

.panel, .panel2 {
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 30px 0px;
  padding: 40px 40px 40px 40px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.panel h2, .panel2 h2  {
  margin: 0;
  cursor: pointer;
}
.panel:hover .content{
  height: 324px !important;
  opacity: 1 !important;
}

.panel:hover{
  background-image: linear-gradient(
    50deg,
    hsl(0deg 0% 16%) 0%,
    hsl(0deg 0% 16%) 29%,
    hsl(0deg 0% 16%) 43%,
    hsl(0deg 0% 17%) 57%,
    hsl(0deg 0% 22%) 71%,
    hsl(0deg 0% 31%) 100%
  );
  transition: background-image 0.5s ease-out;
}
.panel.undefined.accordion_active__ytCkG .arrowd{
  transform: scaleY(-1);
}
.panel:hover .arrowd{
  transform: scaleY(-1);
}
.arrowd{
  background: #34FF9D;
  width: 21px !important;
  padding: 11px 15px;
  height: 27px !important;
  border-radius: 50%;
  cursor: none;
  transition: all 0.3s ease-out;
}

.content, .content2 {
  transition: all 0.3s ease-out;
}

.page_column2__qMozd .menuicon {
  position: relative;
  top: 0;
  float: right;
  z-index: 300;
}
.page_column2__sps9O .menuicon {
  position: relative;
  top: 0;
  float: right;
  z-index: 300;
}
.page_column2__qMozd .menuicon .line {
  transition: transform 0.3s ease, opacity 0.3s ease, stroke 0.3s ease;
  fill: #000;
}
.page_filtergal__hBfN9 .gallery_filterdrop__yHyFm {
  float: inline-end;
  border-radius: 10px;
  font-size: 18px;
  padding: 18px 48px;
  font-family: 'Poppins';
  background: #000;
  color: #fff;
  border-right: solid 35px #000 !important;
}
img{
  border: 0;
}
.gallery_rowfilterp___DNqp {
  padding: 0px 40px 0 40px !important;
  display: flex;
  margin-top: -20px;
}
.gallery-item img {
  width: 100%;
  transition: transform 1s ease;
  height: auto;
  border: 0 !important;
}
.page_logosec__PXVwJ .menuicon,.page_logosec__ct6nW .menuicon, .page_column2__W874Q .menuicon, .page_column2___dcdx .menuicon, .page_logosec__Ramcx .menuicon
{
  top: 0 !important;
}
.process-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 370px;
  margin-top: 50px;
}
.process-title {
  color: #C9C9C9;
  font-size: 24px;
  font-weight: 600;
  font-family: 'poppins';
  margin-top: 20px;
}
.process-steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.step {
  font-family: 'poppins';
  color: #fff;
  text-align: left;
  width: 20%;
  position: relative;
  padding: 0 20px;
}
.step::before {
  content: '';
  position: absolute;
  left: 9px;
  top: 60%;
  transform: translateY(-50%);
  height: 112px;
  border-left: 1px solid #9E9E9E;
}
.step-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2px;
  color: #C9C9C9;
}
.step-description {
  font-size: 14px;
  color: #9E9E9E;
  line-height: 1.5;
}
.line {
  position: absolute;
  top: 112%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #9E9E9E;
  z-index: 1;
}
.circle {
  width: 20px;
  height: 20px;
  background-color: #F6FA5E;
  border-radius: 24%;
  z-index: 2;
  position: absolute;
  top: calc(113% - 10px);
}
.step1{
  transform: translateY(20%) !important;
  padding: 20px 0px 23px 27px;
}
.step2 {
  margin-left: -67px;
  transform: translateY(100%) !important;
  padding: 30px 0px 0 27px;
}
.step3 {
  transform: translateY(10px) !important;
  padding: 0 0 0 27px;
}
.step3 .step-title{
  margin-top: 32px;
}
.step4 .step-title{
  margin-top: 32px;
}
.step4{
  margin-right: 54px;
  padding: 0 0 0 20px;
  transform: translateY(10px) !important;
}
.step4 .step-title, .step4 .step-description, .mdesd{
  margin-right: -69px;
}
.mdesc{
  margin-right: 0 !important;
}
 .step4 .step-description, .mdesd{
  margin-right: -53px;
}
.titlemt {
  margin-top: 16px;
}
.custh{
  height: 350px;
}
.circle:nth-child(1) { left: 10%; }
.circle:nth-child(2) { left: 15.9%; }
.circle:nth-child(3) { left: 37.3% }
.circle:nth-child(4) { left: 53.3% }
.circle:nth-child(5) { left: 74.7% }

.Slider_slide__wISi2 {
  display: flex !important;
}
.slick-dots li button:before {
  font-size: 12px;
  width: 10px !important;
  height: 5px !important;
  content: '' !important;
  color: white !important;
  background-color: #D9D9D9;
  margin: 10px 30px;
  border-radius: 100px;
} 

.slick-dots li.slick-active button:before {
  color: white !important;
  font-size: 12px;
  width: 40px !important;
  height: 5px !important;
  content: '' !important;
  background-color: #D9D9D9;
  margin: 10px 10px;
} 
ul.slick-dots {
  left: -356px !important;
  bottom: -39px !important;
}
.slick-prev:before {
  content: '<' !important;
}
.meeting{
  margin-top: 30px;
  margin-bottom: -30px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'poppins';
  text-align: center;
}
._3efP_GeH5kyBAzqnLzL.adpQ3VUeQbmczOdx9ymw.w_Mtb2W9166EgOSv9i3M.cllbjvXCdYDt9A3te4cz {
  max-width: 1000px !important;
}
.yHJsX7btzZUMOuQu_qbF {
  position: relative;
  margin: 0 !important;
}
.accordion {
  width: 100%;
  box-sizing: border-box;
}
.page_mobmenu__73oe9 .menuicon{
  top: 20px !important;
}
@media only screen and (max-width: 600px) {
  .menusec {
    margin-top: 150px;
    padding: 0 0 0 29px;
}
.mcopy {
  margin-top: 35px;
        text-align: center;
        font-family: 'poppins';
        font-size: 12px;
        padding: 0 23px;
}
a.mitem {
  font-size: 20px;
  color: #000;
  font-weight: 300;
  text-decoration: none;
  font-family: 'Poppins';
}
.active {
  font-size: 25px !important;
}
  .page_column2__qMozd.page_secondsec__D3bKx .menuicon {
    display: none;
}
  .page_mobcol__UcHgm.page_reachuslogo__W7ERA .menuicon {
    top: 21px !important;
    fill: #000 !important;
}
.page_mobcol__UcHgm.page_reachuslogo__W7ERA .menuicon svg .line{
  top: 0 !important;
  fill: #000 !important;
}
.border-bottom {
  background: #9595955e;
  height: 1px;
  margin-top: -9px;
}
  .menuwrap {
    box-sizing: border-box;
    z-index: 100;
    width: 300px !important;
    padding: 16px;
    height: 100%;
    position: fixed !important;
    top: 0;
    right: 0;
    border-radius: 20px 0 0 20px;
    float: right;
    transition: right .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}
  .arrowd {
    background: #34FF9D;
    width: 21px !important;
    padding: 7px 11px;
    height: 27px !important;
    border-radius: 50%;
    cursor: none;
    transition: all 0.3s ease-out;
    margin-top: -79px;
    margin-right: -14px;
}

.panel, .panel2 {
  position: static;
  overflow: hidden;
  margin: 30px 0px;
  padding: 20px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
.client_review{
  font-size: 2vh !important;
}
.panel:hover .content{
  height: auto !important;
  opacity: 1 !important;
}
.gallery{
  margin-top: 5px;
  display: block !important;
}
.gallery-item {
  position: relative;
  width: auto !important;
  margin: 12px 10px;
}
.page_services__yVO5B.undefined  .panel{
  width: 100% !important;
}
video.videoint {
  width: 100%;
  padding: 50px 0 100px 0;
  border-radius: 10px !important;
}
#fimg5, #fimg4, #fimg3, #fimg2, #fimg1, #fimg6, #fimg7, #fimg8, #fimg9, #fimg10, #fimg11 {
  margin-top: 0;
  padding: 0 13px;
}
div#fimg11 {
  margin-top: 0;
}
.testimonial {
  padding: 20px 23px;
}

.slick-prev {
  display: none !important;
  left: -25px;
}
.slick-next {
  display: none !important;
  left: -25px;
}
.carousel-container {
  margin-top: -10px ! IMPORTANT;
  width: 100%;
  margin: 0 auto;
}
.brandspan{
  font-size: 36px;
}
.card_inner {
  border: .5px solid #ffffff70;
  width: 90% !important;
  height: auto;
  padding: 20px;
  border-radius: 8.24px;
  box-sizing: border-box;
  gap: 10px;
  margin: 0;
}
div#fimg1 .pover {
  transform: translate(-150px, -80pt);
}
div#fimg2 .pover {
  transform: translate(-150px, -117pt);
}
div#fimg3 .pover {
  transform: translate(-150px, -156pt);
}
div#fimg4 .pover {
  transform: translate(-150px, -145pt);
}
#fimg5 .pover {
  transform: translate(-150px, -83pt);
}
#fimg6 .pover {
  transform: translate(-150px, -112pt);
}
#fimg7 .pover {
  transform: translate(-150px, -106px);
}
div#fimg8 .pover {
  transform: translate(-150px, -134pt);
}
#fimg10 .pover {
  transform: translate(-150px, -121pt);
}

.inactive {
  right: -350px;
  
}
.mobilev{
  display: block;
}
.secondsec .menuicon{
  display: none !important;
}
.pover {
  padding: 20px !important;
}
.meeting {
  margin-top: 30px;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'poppins';
  text-align: center;
}
.step-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 2px;
  color: #C9C9C9;
}
.step-description {
  font-size: 8px;
  color: #9E9E9E;
  line-height: 1.5;
}
.process-steps {
  display: flex;
  justify-content: space-between;
  width: 600px;
  position: relative;
}
.process-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 356px;
  margin-top: 50px;
  overflow-x: scroll;
}
.circle {
  width: 11px;
  height: 11px;
  background-color: #F6FA5E;
  border-radius: 24%;
  z-index: 2;
  left: 3px;
  position: absolute;
  top: calc(117% - 10px);
}
.step::before {
  content: '';
  position: absolute;
  left: 9px;
  top: 60%;
  transform: translateY(-50%);
  height: 90px;
  border-left: 1px solid #9E9E9E;
}
.circle:nth-child(2) {
  left: 12.3%;
}
.circle:nth-child(3) {
  left: 35.2%;
}
.circle:nth-child(4) {
  left: 46.9%;
}
.circle:nth-child(5) {
  left: 69.8%;
}
.step4 {
  margin-right: 54px;
  padding: 0 0 11px 20px;
  transform: translateY(10px) !important;
}
.boton_elegante {
  font-size: 13px !important;
}
}
.desktopv{
  display: none;
}
.page_filtergal__hBfN9.aos-init.aos-animate h4.gallery_fhead__VENyV{
color: #000 !important;
}
.page_filtergal__hBfN9.aos-init.aos-animate p.gallery_fdesc__jxwxo{
  color: #000 !important;
}
.page_filtergal__hBfN9.aos-init.aos-animate .gallery_rowfilter___DNqp{
  padding: 0;
}
a{
  cursor: pointer !important;
}