@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  scroll-behavior: smooth;
}
html, body {
  scroll-behavior: smooth;
}

body{
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    background-color: #000;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
.boton_elegante {
    margin-top: 10px;
    font-family: 'poppins';
    padding: 15px 30px;
    border: 1px solid #fff;
    background-color: #000;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
  }
  
  .boton_elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 40%
    );
    transform: scale(0);
    transition: transform 0.1s ease;
  }
  
  .boton_elegante:hover::after {
    transform: scale(2);
  }
  
  .boton_elegante:hover {
    border-color: #666666;
    background: #292929;
  }
  .cursor {
    width: 20px;
    height: 20px;
    background-color: lawngreen;
    color: black;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .bar {
    display: block;
    height: 5px;
    width: 50px;
    background-color: #EF8354;
    margin: 10px auto;
  }
  .menuicon {
    position: relative;
    top: -120px;
    float: right;
}
.imageup{
 border: 1px solid #ffffff63;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInup {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page_img_row_col__2CFLz > .imageup > img:nth-child(even) {
  /* opacity: 0 !important; */
  animation: fadeInOut 10s infinite;
  
}
.page_img_row_col__2CFLz > .imageup > img:nth-child(odd) {
  /* opacity: 0 !important; */
  animation: fadeInup 10s infinite;
  
}

.page_img_row_col2__23XWl > .imageup > img:nth-child(odd) {
  /* opacity: 0 !important; */
  animation: fadeInOut 15s infinite;
  
}
.page_img_row_col2__23XWl > .imageup > img:nth-child(even) {
  /* opacity: 0 !important; */
  animation: fadeInup 15s infinite;
  
}

.page_img_row_col3__Goc8z > .imageup > img:nth-child(odd) {
  /* opacity: 0 !important; */
  animation: fadeInOut 7s infinite;
  
}
.page_img_row_col3__Goc8z > .imageup > img:nth-child(even) {
  /* opacity: 0 !important; */
  animation: fadeInup 7s infinite;
  
}
.page_logo_col__3wXi8 svg {
  width: 85%;
}


