.home_bg{
  display: flex;
  overflow: hidden;
  height: 100vh;
  background-color: black;
  border-bottom: 1px solid #ffffff63;
}
.logo_col{
  width: 10%;
  padding: 50px 60px;
}
.block{
  width: 90%;
  display: inline-block;
}

.hero_up_img{
 
}

.img_row_col {
  width: 12%;
  animation: slideUp 30s linear infinite;
}
.img_row_col3 {
  width: 12%;
  animation: slideUp 30s linear infinite;
}

@keyframes slideUp {
  100% { 
    transform: translateY(-200.6666%);  
  }
}
.img_row_col2 {
  width: 12%;
  animation: slideUp2 40s linear infinite;
}

@keyframes slideUp2 {
  0% {
    transform: translateY(-300.6666%);
  }
  100% {
    transform: translateY(0);
  }
}
.fade-in-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in-image.fade-in {
  opacity: 1;
}
.home_hero_content{
  display: block;
  padding: 50px;
  width: 44%;
  margin-top: 130px;
}

@keyframes stroke-fill-left-to-right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.text_stroke_hover {
  margin-top: -94px;
  display: inline-block;
  position: relative;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.text_stroke_hover:hover{
  color: #fff;
}
.homestar{
  width: 80px !important;
    float: right;
    position: relative;
    top: -50px;
    right: 5vh;
}
.text_title{
  margin-top: -28px;
  text-transform: uppercase;
  font-size: 63px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.home_hero_desc{
  padding-bottom: 40px;
  color: #9E9E9E;
  font-size: 18px;
  font-family: 'poppins';
}
.services{
  padding: 100px 140px;
}
.row {
  /* padding: 40px 40px 0  40px; */
  display: flex;
  /* border: 1px solid #fff; */
  /* border-radius: 10px ; */
}

/* Create two equal columns that sits next to each other */
.column1 {
  flex: 30%;
  padding: 10px;
 /* Should be removed. Only for demonstration */
}
.column2 {
  flex: 70%;
  padding: 10px;
 /* Should be removed. Only for demonstration */
}
.mainheading {
  margin-top: 0;
  font-size: 70px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.sec_heading{
  margin-top: -40px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.sevices_heading{
  line-height: 45px;
  font-family: 'poppins';
  font-size: 38px;
  font-weight: 600;
  color: #fff;
  /* margin-bottom: 40px; */
}
.sevices_subheading{
  font-family: 'poppins';
  font-size: 20px;
  color: #fff;
}
.service_list{
  font-size: 18px;
  color: #9E9E9E;
  font-family: 'poppins';
  font-weight: 300;
  margin: 25px 0;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid_item {
  
}
.grimg1{
  padding: 0 10px;
}
.grid_item_img {
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 16px;
}
.gridsec{
  margin: 22px 0;
  display: flex;
  background-color: #000;
}
.brimg2{
  width: 38% !important;
}
.brimg3{
  width: 58% !important;
}
.brimg4{
  width: 29% !important;
}
.brimg5{
  width: 34% !important;
}
.brimg6{
  width: 31% !important;
}
.nwmr{
  margin-top: 60px;
}
.servies_know_more{
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  font-family: 'poppins';
}
.service_hight{
    height: auto;
    display: inline-grid;
    align-items: center;
    margin: 40px 0;
}
.digiimgsec{
  padding: 50px 0 30px 0;
}
.digiimg{
  width: 30% !important;
  margin: 8px;
}
.column1pkg {
  flex: 31%;
  padding: 10px;
 /* Should be removed. Only for demonstration */
}
.wokeani {
  background: #fff;
  opacity: 0.2;
  padding: 6px;
  rotate: 4deg;
  transform: skewX(5deg);
}
.wokeani span{
  font-family: 'poppins';
  margin: 0 30px;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.wokeanilr {
  margin-top: -80px;
  background: #fff;
  padding: 6px;
  rotate: -4deg;
  transform: skewX(-4deg);
}
.wokeanilr span{
  font-family: 'poppins';
  margin: 0 30px;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.filtersec{
  padding: 180px 100px 0 100px;
  font-family: 'poppins';
  font-size: 18px;
}
.filtergal{
  padding: 50px 150px;
}
.clientle{
  padding: 50px 130px;
}
.divider {
  gap: 40px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 400;
  font-family: 'poppins';
  display: flex;
  color: #898989;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.5px;
  background-color: #959595;
  margin: 5px;
}
.partnerimgsec{
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.partnerimg{
  width: 13% !important;
    margin: 0 20px;
    height: 35px !important;
    object-fit: none;
}
.setsapart{
  padding: 80px 100px;
}
.rowpart {
  padding: 0px ;
  display: flex;
  border-radius: 10px ;
}

/* Create two equal columns that sits next to each other */
.columnpart1 {  
  flex: 45%;
  padding: 10px;
 /* Should be removed. Only for demonstration */
}
.columnpart2 {
  flex: 55%;
  padding: 10px;
 /* Should be removed. Only for demonstration */
}
.pointers{
  margin: 30px 0;
}
.pointer_inner{
  display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #9E9E9E80;
    margin-right: 52px;
}
.pnum{
  margin: 0 20px;
  font-size: 26px;
  font-weight: 600;
  color: #9E9E9E;
  font-family: 'poppins';
}
.pimg{
  height: 92px;
  width: 85px;
  margin: 0 30px;
  ;
}
.pdesc h2{
  font-family: 'poppins';
  color: #fff;
  font-size: 22px; 
  font-weight: 600;
}
.pdesc p{
  font-family: 'poppins';
  color: #9E9E9E;
  font-size: 18px; 
  font-weight: 300;
}
.pmar{
  margin-top: 0 !important;
}
.ppimg{
  width: 80% !important;
}
.discuss_row{
  overflow: hidden;
  padding: 30px 0 0 50px;
  margin: 100px 100px;
  border: 1px solid #fff;
  border-radius: 10px ;
}
.mainheadingdis {
  margin-top: 0;
  font-size: 58px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.sec_headingdis{
  margin-top: -35px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 58px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.disdesc{
  margin-bottom: 40px;
  color: #fff;
  font-family: "poppins";
  font-size: 18px;
  font-weight: 300 !important;
  padding-right: 200px;
}
.booknow{
  margin-top: 100px;
}
.bookwrap1{
  padding: 3px 0;
  opacity: 1;
  background-color: #fff;
  rotate: -25deg;
  width: 505px;
  margin-right: -52px;
  float: right;
  margin-top: -102px;
} 
.bookwrap{
  padding: 3px 0;
  opacity: 0.5;
  background-color: #fff;
  rotate: -15deg;
  width: 671px;
  margin-right: -19px;
  float: right;
  margin-top: -86px;
} 
.bookwrap span{
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins';

}
.bookwrap1 span{
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins';

}
.rowstory {
  padding: 0px ;
  display: flex;
  border-radius: 10px ;
}

/* Create two equal columns that sits next to each other */
.columnst1 {  
  flex: 47%;
  padding: 10px;
 /* Should be removed. Only for demonstration */
}
.columnst2 {
  flex: 53%;
  padding: 10px;
 /* Should be removed. Only for demonstration */
}
.storydesc{
  font-family: 'poppins';
  font-size: 18px;
  color: #9E9E9E;
  font-weight: 300;
  line-height: 30px;
}
.stimg{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 72%;
}
.brandanim{
  margin: -00px 0 0 0;
}
.prodiff{
  margin: 100px 120px;
  border: 1px solid #ffffff60;
  border-radius: 10px;
}
.columnpdiff1{
  flex: 70%;
  height: 237px;
  padding: 10px;
}
.columnpdiff2{
  flex: 35%;
  padding: 10px;
  border-left: 1px solid #ffffff60;
}
.columnpdiff1 h2{
  padding: 50px 80px;
  font-size: 40px;
  font-family: 'poppins';
  color: #fff;
}
.columnpdiff2 h3{
  padding: 30px 50px 0 50px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;
  font-family: 'poppins';
  color: #fff;
  font-weight: 600;
}
.columnpdiff2 h3:hover, .columnpdiff3 h3:hover, .columnpdiff4 h3:hover, .columnpdiff5 h3:hover, .columnpdiff6 h3:hover{
  color: #34FF9D !important;
}
.columnpdiff2 p{
  padding: 0 89px;
  text-align: center;
  font-size: 18px;
  font-family: 'poppins';
  color: #9E9E9E;
}
.columnpdiff3{
  flex: 33.33%;
  padding: 10px;
  /* border-left: 1px solid #ffffff60; */
}
.columnpdiff4{
  flex: 33.33%;
  padding: 10px;
  border-left: 1px solid #ffffff60;
}
.columnpdiff5{
  flex: 33.33%;
  padding: 10px;
  border-left: 1px solid #ffffff60;
}
.columnpdiff6{
  flex: 33.33%;
  padding: 10px;
  border-left: 1px solid #ffffff60;
}
#proj{
  border-top: 1px solid #ffffff60;
  border-radius: 0 !important;
}
.columnpdiff3  h3{
  padding: 30px 50px 0 50px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;
  font-family: 'poppins';
  color: #9E9E9E;
  font-weight: 600;
}
.columnpdiff3  p{
  padding: 0 40px 40px 40px;
  text-align: center;
  font-size: 18px;
  font-family: 'poppins';
  color: #9E9E9E;
}
.columnpdiff4  h3{
  padding: 30px 50px 0 50px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;
  font-family: 'poppins';
  color: #9E9E9E;
  font-weight: 600;
}
.columnpdiff4  p{
  padding: 0 40px 40px 40px;
  text-align: center;
  font-size: 18px;
  font-family: 'poppins';
  color: #9E9E9E;
}
.columnpdiff5  h3{
  padding: 30px 50px 0 50px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;
  font-family: 'poppins';
  color: #9E9E9E;
  font-weight: 600;
}
.columnpdiff5  p{
  padding: 0 40px 40px 40px;
  text-align: center;
  font-size: 18px;
  font-family: 'poppins';
  color: #9E9E9E;
}
.columnpdiff6  h3{
  padding: 30px 50px 0 50px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;
  font-family: 'poppins';
  color: #9E9E9E;
  font-weight: 600;
}
.columnpdiff6  p{
  padding: 0 40px 40px 40px;
  text-align: center;
  font-size: 18px;
  font-family: 'poppins';
  color: #9E9E9E;
}
.videosec{
  margin: 100px 120px;
}
.videosec img{
  width: 100% !important;
}
.columnpdiff3 h3:hover,
.columnpdiff4 h3:hover,
.columnpdiff5 h3:hover,
.columnpdiff6 h3:hover {
    color: #fff;
}
.shopsec{
  overflow: hidden;
  margin: 100px 150px;
  height: 350px;
  background-image: url('/home/shopbg.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.shoprow {
  padding: 0px ;
  display: flex;
}
.shopcol1{
  margin-left: 50px !important;
  flex: 40%;
}
.shopcol2{
  padding-left: 50px;
  flex: 80%;
}
.shopwi2{
  height: 200px;
  animation: slideUp 20s linear infinite;
  width: 100%;
  margin: 0 4px;
}
.shopwi1{
  height: 200px;
  width: 100%;
  margin: 0 3px;
  animation: slideUp 20s linear infinite;
}
.shoprowinn{
  rotate: -6deg;
  margin: 0 20px;
  text-align: center;
  padding: 0px ;
  display: flex;
}
.ppimgs{
  margin: 1px 0;
  width: 100% !important;
  
}
.mainheadingdc {
  margin-top: 30px;
  font-size: 56px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.sec_headingdc{
  margin-top: -30px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 56px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.starim{
  width: 30px !important;
  height: 100% !important;
  margin-top: 42px;
  margin-left: 9px;
}
.dcdesc{
  color: #fff;
  font-family: 'poppins';
  font-size: 20px;
  margin: 0 100px 30px 0px;
}
.dcbtn{
  background: #fff;
  padding: 12px 30px;
  color: #000;
  font-family: 'poppins';
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.accordion {
 
}

.content {
  height: auto;
  overflow: hidden;
  transition: height 0.3s ease;
}
.trustp{
  width: 25% !important;
  float: right;
}
.trustdesc{
  color: #fff;
    margin-top: 87px;
    float: right;
    font-size: 11.3px;
    margin-right: -158px;
    font-family: 'Poppins';
}
.galtitle{
  margin: 20px 46px;
}