.home_bg{
  max-width:1600px; 
  display: flex;
  overflow: hidden;
  height: 700px;
  background-color: black;
}
.logo_col{
  width: 10%;
  padding: 50px;
}
.hero_up_img{
  border: 1px solid #fff;
}

.img_row_col {
  width: 12%;
  animation: slideUp 30s linear infinite;
}

@keyframes slideUp {
  100% { 
    transform: translateY(-200.6666%);  
  }
}
.img_row_col2 {
  width: 12%;
  animation: slideUp2 40s linear infinite;
}

@keyframes slideUp2 {
  0% {
    transform: translateY(-300.6666%);
  }
  100% {
    transform: translateY(0);
  }
}
.fade-in-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in-image.fade-in {
  opacity: 1;
}
.home_hero_content{
  display: block;
  padding: 50px;
  width: 44%;
  margin-top: 130px;
}

@keyframes stroke-fill-left-to-right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.text_stroke_hover {
  position: relative;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.text_stroke_hover:hover{
  color: #fff;
}
.homestar{
  width: 100px !important;
    float: right;
    position: relative;
    top: -50px;
    left: -42px;
}
.text_title{
  margin-top: -60px;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.home_hero_desc{
  margin-top: -60px;
  padding-bottom: 20px;
  color: #9E9E9E;
  font-size: 18px;
  font-family: 'poppins';
}