@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



.row {
  /* padding: 40px 40px 0  40px; */
  display: flex;
  /* border: 1px solid #fff; */
  /* border-radius: 10px ; */
}

/* Create two equal columns that sits next to each other */
.column1 {
  flex: 60%;
  padding: 30px 0;
 /* Should be removed. Only for demonstration */
}
.column2 {
  flex: 40%;
  padding: 50px;
 /* Should be removed. Only for demonstration */
}
.columns1 {
  flex: 60%;
 /* Should be removed. Only for demonstration */
}
.columns2 {
  flex: 40%;

 /* Should be removed. Only for demonstration */
}
.logosec{
  padding-left: 80px;
}
.menuicon{
  top: 0 !important;
}

.mainsec
{
    background-color: #fff;
    padding: 60px 180px;
}

.mainhead
{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-align: left;
   
    
}
.desc
{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 50px;
    margin-bottom: 30px;
    
}
.litext
{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 30px;
    
}

.ol {
    list-style-type: decimal; /* Ensures it's an ordered list */
  }
  
  .ol::marker {
    font-weight: bold;
  }

  .endtext
  {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 30px;
    margin-right: 300px;
  }

  .fb
  {
    font-weight: 500;
  }

@media (max-width: 600px)
{
    .logosec {
        padding-left: 20px;
    }
    .column2 {
      flex: 40% 1;
      padding: 50px 20px;
  }
  .mainsec
  {
    padding: 50px 10px;
  }
  .mainhead
  {
    font-size: 34px;
  }
  .endtext
  {
    margin-right: 0;
    
  }
  .desc
  {
    padding-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .litext
  {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .endtext
  {
    font-size: 16px;
    line-height: 22px;
  }
}


@media screen and (min-width: 600px) and (max-width: 1024px) 
{
    .mainsec
    {
        padding: 60px 30px;
    }
    .mainhead
    {
        font-size: 34px;
    }
}