.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }
  
  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 30%;
    padding: 10px;
   /* Should be removed. Only for demonstration */
  }
  .column1pkg {
    flex: 31%;
    padding: 10px;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 70%;
    padding: 10px;
   /* Should be removed. Only for demonstration */
  }
  .mainheading {
    margin-top: 0;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
  }
  .sec_heading{
    margin-top: -40px;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .services_heading{
    line-height: 40px;
    font-family: 'poppins';
    font-size: 38px;
    font-weight: 600;
    color: #fff !important;
    /* margin-bottom: 40px; */
  }
  
  .services_subheading{
    font-family: 'poppins';
    font-size: 18px;
    color: #fff !important;
    margin-right: 50px;
  }
  .service_list{
    font-size: 16px;
    color: #9E9E9E;
    font-family: 'poppins';
    font-weight: 300;
    margin: 25px 0;
  }
  .grid_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .grid_item {
    
  }
  .grimg1{
    padding: 0 10px;
  }
  .grid_item_img {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 16px;
  }
  .gridsec{
    margin: 22px 0;
    display: flex;
    
  }
  .brimg2{
    width: 38% !important;
  }
  .brimg3{
    width: 58% !important;
  }
  .brimg4{
    width: 29% !important;
  }
  .brimg5{
    width: 34% !important;
  }
  .brimg6{
    width: 31% !important;
  }
  .nwmr{
    margin-top: 60px;
  }
  .servies_know_more{
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-family: 'poppins';
  }
  .service_hight{
      height: auto;
      display: inline-grid;
      align-items: center;
      margin: 40px 0;
  }
  .digiimgsec{
    padding: 0px 0 30px 0;
  }
  .digiimg{
    width: 30% !important;
    margin: 8px;
  }
  .arrsec{
    display: flex;
  }
  .arrowd{
    background: #34FF9D;
    width: 21px !important;
    padding: 11px 15px;
    height: 27px !important;
    border-radius: 50%;
    cursor: none;
  }
 .active {
    background-image: linear-gradient(
      50deg,
      hsl(0deg 0% 16%) 0%,
      hsl(0deg 0% 16%) 29%,
      hsl(0deg 0% 16%) 43%,
      hsl(0deg 0% 17%) 57%,
      hsl(0deg 0% 22%) 71%,
      hsl(0deg 0% 31%) 100%
    );
    transition: background-image 0.5s ease-out;
  }
 .active .arrowd {
    transform: scaleY(-1);
  }
  .mobilev{
    display: none;
  }
  @media only screen and (max-width: 600px) {
    .nwmr{
      margin-top: 30px;
    }
    .service_list{
      font-size: 14px;
      color: #9E9E9E;
      font-family: 'poppins';
      font-weight: 300;
      margin: 5px 0;
    }
    .row{
      display: block;
    }
    .desktopv{
      display: none;
    }
    .mobilev{
      display: block;
    }
    .services_heading {
      line-height: 33px;
      font-family: 'poppins';
      font-size: 26px;
      font-weight: 600;
      color: #fff !important;
      /* margin-bottom: 40px; */
  }
    .services_subheading {
      font-family: 'poppins';
      font-size: 14px;
      color: #fff !important;
      margin-right: 29px;
  }
  .mobileContentHeight {
    height: 72vh;
  }
  .grimg1 {
    display: none;
}
.grid_item {
  display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
}
.brimg2{
 width: 69% !important;
        height: 104px !important;
}
.brimg2{
 width: 69% !important;
        height: 104px !important;
}
.brimg3{
 width: 69% !important;
        height: 104px !important;
}
.brimg4{
 width: 69% !important;
        height: 104px !important;
}
.brimg5{
 width: 69% !important;
        height: 104px !important;
}
.brimg6{
 width: 69% !important;
        height: 104px !important;
}
.grid_container {
  display: flex;
  gap: 0;
  overflow-x: scroll;
}
.digiimgsec {
  display: flex;
    margin-top: 35px;
    overflow-x: scroll;
}
.digiimg {
  width: 50% !important;
  margin: 8px;
}
.ecommimgmob{
  width: 400px !important;
}

  }
