.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }

  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 40%;
    padding: 50px;
   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
  }
  
  .menuicon{
    top: 0 !important;
  }
  .text_stroke_hover {
    display: inline-block;
    position: relative;
    font-size: 43px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
  }
  .text_stroke_hover:hover{
    color: #fff;
  }
  .text_title{
    margin-top: -28px;
    text-transform: uppercase;
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .stext_stroke_hover {
    display: inline-block;
    position: relative;
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
  }
  .stext_stroke_hovers {
    display: inline-block;
    position: relative;
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
  }
  .stext_stroke_hover:hover{
    color: #fff;
  }
  .stext_title{
    margin-top: -28px;
    text-transform: uppercase;
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
   /* Create two equal columns that sits next to each other */
   .columnst1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .columnst2 {
    flex: 40%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .storyhero{
    padding: 0 130px 50px 130px;
  }
  .desc{
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 18px;
    font-weight: 300 !important;
    margin-bottom: 30px;
  }
  .scard{
    border: 1px solid #d9d9d992;
    border-radius: 10px;
    padding: 33px 20px 5px 20px;
  }
  .sstitle{
    font-size: 22px;
    font-family: 'poppins';
    color: #fff;
    margin-right: 47px;
    font-weight: bold !important;
    text-transform: uppercase;
  }
  .iconss{
    margin: 15px 0 10px 0;
  }
  .iconimg{
    background-color: #1f1f1f;
    width: 31px !important;
    height: 21px !important;
    margin: 0 7px;
    object-fit: scale-down;
    padding: 10px 5px;
    border-radius: 50%;
  }
  .imgcol {
    flex: 25%;
    height: auto;
    padding: 50px 10px;
   /* Should be removed. Only for demonstration */
  }
  .ourimg1{

  }
  .ourimg2{
    margin-top: 72px;
  }
  .servicesec{
    padding: 50px 150px;
  }

  .sertcol1 {
    flex: 85%;
  
   /* Should be removed. Only for demonstration */
  }
  .sertcol2 {
    flex: 15% 1;
    display: flex;
    align-items: center;
    justify-content: end;
  
   /* Should be removed. Only for demonstration */
  }
  .stitle{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 25px;
    color: #C9C9C9;
    font-weight: 500;
    font-family: 'poppins';
  }
  .sbtitle{
    display: flex;
    font-size: 23px;
    color: #C9C9C9;
    font-weight: bold;
    font-family: 'poppins';
  }
  .sdesc{
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 18px;
    font-weight: 400 !important;
    margin-bottom: 30px;
  }
  .sbdesc{
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400 !important;
    margin-left: 40px;
  }
  .sbdesc1{
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400 !important;
    margin-left: 34px;
  }
  .sbdesc4{
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400 !important;
    margin-left: 49px;
  }
  .sercol1 {
    flex: 50% 1;
    margin-right: 10px;

   /* Should be removed. Only for demonstration */
  }
  .sercol2 {
    flex: 50% 1;
    margin-left: 10px;
  
   /* Should be removed. Only for demonstration */
  }
  .serbox{
    border: 1px solid #d9d9d998;
    border-radius: 10px;
    padding: 30px; 
    margin: 10px 0;
  }
  .num{
    margin: 0  10px 0 0px;
  }
  .subsbtn{
    background: #000;
    float: right;
    color: #fff;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 16px;
    font-family: 'poppins';
    text-transform: uppercase;
  }
  .pointers{
    margin: 30px  0;
  }
  .pointer_inner{
    display: flex;
      padding-bottom: 24px;
      border-bottom: 1px solid #9E9E9E80;
      margin-right: 52px;
  }
  .pnum{
    margin: 0 20px;
    font-size: 26px;
    font-weight: 600;
    color: #9E9E9E;
    font-family: 'poppins';
  }
  .pimg{
    margin: 0 30px;
  }
  .pdesc h2{
    font-family: 'poppins';
    color: #fff;
    font-size: 22px; 
    font-weight: 600;
  }
  .pdesc p{
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 18px; 
    font-weight: 300;
  }
  .pmar{
    margin-top: 0 !important;
  }
  .ppimg{
    width: 80% !important;
  }
  .discuss_row{
    overflow: hidden;
    padding: 30px 0 0 50px;
    margin: 100px 200px;
    border: 1px solid #fff;
    border-radius: 10px ;
  }
  .mainheadingdis {
    margin-top: 0;
    font-size: 58px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
  }
  .mainheadingdiss {
    margin-top: 0;
    font-size: 58px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
  }
  .sec_headingdis{
    margin-top: -35px;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 58px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .prosec{
    padding: 50px 130px;
  }
  .sec_headingdiss{
    margin-top: -35px;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 58px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .disdesc{
    margin-bottom: 40px;
    color: #fff;
    font-family: "poppins";
    font-size: 18px;
    font-weight: 300 !important;
    padding-right: 200px;
  }
  .booknow{
    margin-top: 100px;
  }
  .bookwrap1{
    padding: 3px 0;
    opacity: 1;
    background-color: #fff;
    rotate: -25deg;
    width: 505px;
    margin-right: -52px;
    float: right;
    margin-top: -102px;
  } 
  .bookwrap{
    padding: 3px 0;
    opacity: 0.5;
    background-color: #fff;
    rotate: -15deg;
    width: 671px;
    margin-right: -19px;
    float: right;
    margin-top: -86px;
  } 
  .bookwrap span{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
  
  }
  .bookwrap1 span{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
  
  }
  .addsec{
    padding-top: 80px;
  }
  .addcol1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .addcol2 {
    flex: 40%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .adesc{
    font-size: 18px;
    font-family: 'poppins';
    color: #9E9E9E;
    padding-right:312px
  }
  .paddt{
    margin-top: 50px !important;
  }
  
.numlist{

}
.innnum{
  padding:10px
}
.numtext{
  color: #9E9E9E;
  font-size: 20px;
  font-weight: 500;
  font-family: 'poppins';
}
.numm{
  margin-right: 20px;
}
.pmidd{
  margin-top: 60px;
  text-align: center;
  padding-bottom:100px
}
.promtext{
  font-family: 'poppins';
  color: #fff;
  font-size: 26px;
  font-weight: 500 !important;
  padding-bottom: 40px;
}
.borderbot {
  width: 92% !important;
  height: 0.5px;
  margin-top: 12px;
  background-color: #585858;
  margin-left: 43px;
}
.arr{
  margin-top: 30px;
}
.mlsec svg{
  width: auto;
}
/* Mobile View */
@media only screen and (max-width: 600px) {
  .column2 {
    flex: 40% 1;
    padding: 40px 20px;
}
.logosec {
  padding-left: 20px;
}
.mlsec svg{
    width: 100px;
  }
.storyhero {
  padding: 0 20px 30px 20px;
}
.row {
  display: block;
}
.mobrow{
  display: flex !important;
}
.text_stroke_hover {
  display: inline-block;
  position: relative;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
}
.text_title {
  margin-top: -14px;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.scard {
  border: 1px solid rgba(217, 217, 217, 0.573);
  border-radius: 10px;
  padding: 33px 20px 5px;
  margin-top: 30px;
}
.columnst2, .columnst1{
  flex: 40% 1;
  padding: 0px 0;
}
.desc{
  margin-top: 4px;
  font-family: 'poppins';
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 300 !important;
  margin-bottom: 37px;
  margin-right: 31px;
}
.ourimg2 {
  margin-top: 0px;
}
.imgcol {
  flex: 25% 1;
  height: auto;
  padding: 10px 0 0 0px;
}
.servicesec {
  padding: 0px 20px;
}
.sercol2, .sercol1 {
  flex: 50% 1;
  margin-left: 00px;
}
.sercol1{
  margin: 0 !important;
}
.sdesc {
  font-family: 'poppins';
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 400 !important;
  margin-bottom: 30px;
}
.stitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  color: #C9C9C9;
  font-weight: 500;
  font-family: 'poppins';
}
.sstitle{
  font-size: 20px;
}
.sbtitle {
  font-size: 14px;
  color: #C9C9C9;
  font-weight: bold;
  font-family: 'poppins';
}
.sbdesc {
  font-family: 'poppins';
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 400 !important;
  margin-left: 30px;
}
.sbdesc4{
  font-family: 'poppins';
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 400 !important;
  margin-left: 33px;
}
.sbdesc1 {
  font-family: 'poppins';
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 400 !important;
  margin-left: 28px;
}
.sbdesc {
  font-family: 'poppins';
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 400 !important;
  margin-left: 31px;
}
.sertcol2 {
  flex: 15% 1;
  display: flex;
  align-items: center;
  justify-content: start;
}
.paddt{
  margin-top: 0 !important;
}
.mainheadingdis {
  margin-top: 0;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.mainheadingdiss {
  margin-top: 0;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.pmidd{
  margin-bottom: 0;
}
.addsec{
  padding: 0 0 50px 0;
}
.sec_headingdis {
  margin-top: -10px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.prosec{
  padding: 20px;
}
.borderbot {
  width: 84% !important;
  height: 0.5px;
  margin-top: 12px;
  background-color: #585858;
  margin-left: 43px;
}
.sec_headingdiss {
  margin-top: -5px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.disdesc {
  margin-bottom: 40px;
  color: #fff;
  font-family: "poppins";
  font-size: 15px;
  font-weight: 300 !important;
  padding-right: 0;
  margin-bottom: 35px;
  margin-top: 15px;
}
.adesc {
  font-size: 16px;
  font-family: 'poppins';
  color: #9E9E9E;
  padding-right: 0;
}
.serbox {
  border: 1px solid #d9d9d998;
  border-radius: 10px;
  padding: 24px;
  margin: 10px 0;
}
.stext_stroke_hover {
  display: inline-block;
  position: relative;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
}
.stext_stroke_hovers {
  display: inline-block;
  position: relative;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
  margin-top: 16px;
}
.stext_title {
  margin-top: -11px;
  text-transform: uppercase;
  font-size: 27px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.promtext {
  margin-top: 30px;
  font-family: 'poppins';
  color: #fff;
  font-size: 16px;
  font-weight: 500 !important;
  padding-bottom: 40px;
}
.numtext {
  color: #9E9E9E;
  font-size: 18px;
  font-weight: 500;
  font-family: 'poppins';
}
.desktopv{
  display: none;
}
.mobilev{
  display: block !important;
}
.discuss_row {
  overflow: hidden;
  padding: 25px;
  margin: 0px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom:80px;
}
.bookwrap{
  padding: 3px 0;
  opacity: 0.5;
  background-color: #fff;
  rotate: -8deg;
  width: 671px;
  margin-right: -50px;
  float: right;
  margin-top: -16px;
}
.bookwrap1{
  padding: 3px 0;
  opacity: 1;
  background-color: #fff;
  rotate: -17deg;
  width: 505px;
  margin-right: -52px;
  float: right;
  margin-top: -18px;
}
.bookwrap1 span, .bookwrap span{
  font-size: 18px;
}
}
.mobilev{
  display: none;
}