@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }

  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 40%;
    padding: 50px;
   /* Should be removed. Only for demonstration */
  }
  .columns1 {
    flex: 60%;
   /* Should be removed. Only for demonstration */
  }
  .columns2 {
    flex: 40%;

   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
  }
  .menuicon{
    top: 0 !important;
  }

.spacing
{
    padding: 40px 70px 70px 70px;
}

.imagesec1
{
    margin-top: -5px;
}
.contentsec
{
    background-color: #fff;
    margin-top: -5px;
    padding: 50px 0 20px 60px;
}
.title
{
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 28px;
    font-weight: 600;

}

.subtitle
{
    font-family: "Montserrat", sans-serif; 
    font-size: 20px;
    padding-bottom: 25px;
    font-weight: 600;
}
.description
{
    font-family: "Montserrat", sans-serif; 
    font-size: 18px;
    padding-bottom: 25px;
    padding-right: 35px;
    line-height: 30px;
    font-weight: 400;
   
}

.rowsec
{
    display: flex;
    background-color: #fff;
    margin-top: -5px;
    padding: 40px 0 80px;
}
.col1
{
    flex: 40%; 
    text-align: center;   
}

.col2
{
    flex: 60%;
}

.rowdescription
{
    font-family: "Montserrat", sans-serif; 
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;   
    padding-right: 30px;
    padding-top: 20px;
}
.img
{
    width: 62% !important;
}
.rowhr
{
    width: 150px;
    margin-left: 0px;
    background-color: #000;
}

.Learnersec
{
  margin-top: -5px;
  background-color: #fff;
  text-align: center;
  padding: 100px 100px 70px;
}
.Learnerdesc
{
    font-family: "Montserrat", sans-serif; 
    font-size: 18px;
    line-height: 30px;
    font-weight: 400; 
    padding-bottom: 25px;  
}

@media only screen and (max-width: 600px)
{
    .logosec 
    {
      padding-left: 20px;
    }
   .column2 
   {
    flex: 40% 1;
    padding: 50px 20px;
   }

   .spacing
   {
       padding: 0 0 30px 0;
   }

    .contentsec
    {
        padding: 30px 20px;
    }
    .title
    {
        font-size: 24px;
    }
    .subtitle
    {
        font-size: 18px;
    }
    .description, .rowdescription, .Learnerdesc
    {
        font-size: 16px;
        padding-right: 0px;
        line-height: 25px;
    }
    .rowsec
    {
        display: block;
    }
    .col2
    {
        padding: 50px 20px 20px;
    }
    .rowhr
    {
        width: 100px;
       
    }
    .Learnersec
    {
        padding: 40px 20px 10px;
        text-align: left;
    }
    .rowsec
    {
        padding: 0 0 30px 0;
    }   
}

/* tab view */
@media screen and (min-width: 600px) and (max-width: 1024px) 
{
    .logosec 
    {
        padding-left: 40px !important;
    }
  .spacing
  {
    padding: 40px 40px 70px 40px;
  }
  .contentsec
  {
    padding: 50px 20px;
  }
  .Learnersec
  {
    padding: 70px 40px 70px;
  }
  .description
  {
    padding-right: 0;
  }
}
