
.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }

  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 40%;
    padding: 50px;
   /* Should be removed. Only for demonstration */
  }
  .columns1 {
    flex: 60%;
   /* Should be removed. Only for demonstration */
  }
  .columns2 {
    flex: 40%;

   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
  }
  .menuicon{
    top: 0 !important;
  }

  .spacing
  {
    padding: 10px 70px 70px 70px;
  }


  .contentsec
  {
    background-color: #fff;
    margin-top: -5px;
    padding: 100px 150px 70px 150px;
  }
  .rowsec
  {
    background-color: #fff;
    margin-top: -5px;
    padding: 100px 150px 70px 120px;
  }
  .description
  {
    color: #424242;
    font-family: "Glacial Indifference Regular", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 40px;
    line-height: 35px;
  }

 .title
 {
    font-family: "Glacial Indifference Bold", Sans-serif;
    font-size: 30px;
    color: #00102e;
    font-weight: 600;
    padding-bottom: 25px;
 }
 .himgsec
 {
    background-color: #fff;
    padding: 80px 0 50px 120px;
    margin-top: -5px;
 }
 .slider
 {
    background-color: #fff;
    margin-top: -5px;
    padding-bottom: 80px;
 }

 .websec
 {
  background-color: #E4E4E4;
  margin-top: -5px;
  padding: 100px 150px 0px 120px;
 }
 .carsec
 {
  background-color: #E4E4E4;
  margin-top: -5px;
 }
 .repairsec
 {
  
  margin-top: -5px;
  margin-bottom: -5px;
 
 }
 .imagesec
 {
  margin-top: -5px;
 }

 .swiper-button-next
 {
  color: red;
 }

 @media only screen and (max-width: 600px)
 {
  .logosec 
  {
      padding-left: 20px;
  }
  .column2 {
    flex: 40% 1;
    padding: 50px 20px;
   }

   .spacing
   {
    padding: 0;
   }
   .contentsec
   {
    padding: 40px 15px 30px 15px;
   }
   .description
   {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
   }
   .rowsec
   {
    padding: 40px 15px 30px 15px;
   }
  .himgsec
  {
    padding: 30px 0 30px 10px;
  }
  .title
  {
    font-size: 24px;
  }
  .websec
  {
    padding: 40px 15px 0px 15px;
  }
  
 }

  