.hero_up_img{
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #fff;
  display: flex;
  }
  
.img_row_col {
    animation: slideUp 20s linear infinite;
  }
  
  @keyframes slideUp {
    100% { 
      transform: translateY(-200.6666%);  
    }
  }
  .img_row_col2 {
    animation: slideUp2 50s linear infinite;
  }
  
  @keyframes slideUp2 {
    0% {
      transform: translateY(-500.6666%);
    }
    100% {
      transform: translateY(0);
    }
  }