@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }

  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 60%;
    padding: 30px 0;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 40%;
    padding: 50px;
   /* Should be removed. Only for demonstration */
  }
  .columns1 {
    flex: 60%;
   /* Should be removed. Only for demonstration */
  }
  .columns2 {
    flex: 40%;

   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
  }
  .menuicon{
    top: 0 !important;
  }

  .spacing
{
    padding: 40px 70px 70px 70px;
    background-color: #f9f1ed;
}

  .colsec
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
  }
  .royalimg
  {
    padding-bottom: 30px;
  }

  .memoriesimg
  {
    width: 40% !important;
    padding-bottom: 30px;
  }

  .ganeshimg
  {
    padding-top: 80px;
    
  }

 

  .rowsec
  {
    display: flex;
    flex-direction: row;
    margin-top: -5px;
  }

  .row1
  {
    flex: 50%;
    padding-left: 70px;
  }

  .row2
  {
    flex: 50%;
  }

  .estdimg
  {
    width: 70% !important;
  }
  .rowcontent
  {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
  }

  .proimg
  {
    width: 32% !important;
  }
  .solutionimg
  {
    width: 38% !important;
  }

  .prodesc
  {
    color: #4E4D4D;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0 20px;
  }

  .imagesec
  {
    margin-bottom: -5px;
    padding: 80px 0;
  }

  .imagerow
  {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .gap
  {
     padding-left: 30px;
     padding-right: 30px;
  }
 
  .cameraimg
  {
    width: 75% !important;
  }
  .patternsec
  {
    margin-top: -5px;
    padding: 0 50px 50px;
  }
  .textsec
  {
    display: flex;
    padding: 50px 50px 100px;
  }
  .typeface
  {
    flex: 55%;
  }
  .color
  {
    flex: 45%;
  }
  .typefaceimg
  {
    width: 35% !important;
  }
  .typefacerow
  {
    display: flex;
    padding-top: 30px;
  }
  .tf1
  {
    flex: 50%;
  }
  .tf2
  {
    flex: 50%;
  }
  .tf1column
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }
  .ptb20
  {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .headingimg
  {
    padding-bottom: 25px;
  }
  .Elsieimg
  {
    padding-bottom: 30px;
  }
  .colorpallateimg
  {
    padding-top: 70px;
  }
  .blackimg
  {
    width: 22% !important;
  }

  .Body
  {
    color: #7C4FAE;
    font-family: "Poppins", Sans-serif;
    font-size: 71px;
    font-weight: 500;
    padding: 0;
    margin-top: -15px;
  }
  .Poppins
  {
    color: #FAC8D0;
    font-family: "Poppins", Sans-serif;
    font-size: 37px;
    font-weight: 500;
    padding: 0;
    margin: 0;

  }
  .Medium
  {
    color: #C04849;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 15px 0 0 0;
    margin: 0;
  }

  .colorcolumn
  {
    display: flex;
    flex-direction: column;
  
  }
  .imagerow
  {
    display: flex;
  }
  .imagerow1
  {
    flex: 50%;
  }
  .imagerow2
  {
    flex: 50%;
  }
  .lastrow
  {
    margin-top: -5px;
  }
  .colorimg
  {
    width: 20% !important;
  }

  @media only screen and (max-width: 600px)
  {
    .logosec 
    {
      padding-left: 20px;
    }
   .column2 
   {
    flex: 40% 1;
    padding: 50px 20px;
   }

   .spacing
   {
    padding: 30px 0;
   }
   .royalimg
   {
    width: 45% !important;
    padding-bottom: 0;
   }
   .memoriesimg
   {
    width: 70% !important;
   }
   .ganeshimg
   {
    padding-top: 60px;
    width: 70% !important;
   }
   .rowsec
   {
    display: block;
   }
   .row1
   {
    text-align: center;
    padding-left: 0;
   }
   .row2
   {
    text-align: center;
    padding: 15px 15px;
   }
   .rowcontent
   {
    align-items: center;
    padding-right: 0;
    padding-top: 20px;
   }
   .prodesc
   {
    font-size: 16px;
   }
   .imagerow
   {
    display: block;
   }
   .royalimg
   {
    width: 45% !important;
   }
   .plusimg
   {
    width: 15% !important;
   }
   .cameraimg
   {
    width: 40% !important;
   }
   .equalimg
   {
    width: 15% !important;
    transform: rotate(269deg);
    padding-bottom: 20px;
        padding-top: 20px;
   }

   .weddingimg
   {
    width: 45% !important;
   }
   .gap
   {
    padding-top: 10px;
    padding-bottom: 10px;
   }
   .patternsec
   {
    padding: 0;
   }
   .textsec
   {
    display: block;
   }
   .typefacerow
   {
    display: block;
    
   }
   .typeface
   {
    text-align: center;
    padding-top: 80px;
   }
   .colorcolumn
   {
    align-items: center;
   }
   .typefaceimg
   {
    width: 50% !important;
   }
   .tf2
   {
    padding-top: 60px;
   }
   .colorimg
   {
    width: 35% !important;
    padding-top: 60px;
   }
   .textsec
   {
    padding: 0;
   }
   .headingimg
   {
    padding-top: 20px;
    width: 70% !important;
   }
   .Elsieimg
   {
    width: 80% !important;
   }

   .colorpallateimg
   {
    width: 90% !important;
    padding-bottom: 60px;
   }
   .Medium
   {
    font-size: 20px;
   }
   .blackimg
   {
    width: 20% !important;
   }
   .imagesec
   {
    padding-top: 50px;
    padding-bottom: 30px;
   }
   .imagerow2
   {
    margin-top: -5px;
   }
   .estdimg
   {
    width: 60% !important;
   }
  }