.reachhero{

}
.row {
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }
  
  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 65%;
    padding: 20px 0;
    background: #fff;
   /* Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 32%;
    padding: 50px;
    background: #FFF8F0;
   /* Should be removed. Only for demonstration */
  }
  .logosec{
    padding-left: 80px;
    padding-top: 11px;
  }
  .text_stroke_hover {
    display: inline-block;
    position: relative;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-transform: uppercase;
  }
  .text_stroke_hover:hover{
    color: #fff;
  }
  .text_title{
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }
  .innersec{
    padding: 25px 20px 50px 80px;
  }
  .innercolumn1 {
    flex: 22%;
    background: #fff;
   /* Should be removed. Only for demonstration */
  }
  .innercolumn2 {
    flex: 40%;
    display: flex;
    padding-right:0;
   /* Should be removed. Only for demonstration */
  }
  .imginner1{
    flex: 40%;
    background: #fff;
   /* Should be removed. Only for demonstration */
  }
  .imginner2{
    flex: 60%;
    background: #fff;
   /* Should be removed. Only for demonstration */
  }
  .reachimg{
    margin: 5px;
    width: 88% !important;
    height: 53.2vh  !important;
  }
  .rowimg {
    object-fit: contain;
    /* padding: 40px 40px 0  40px; */
    display: flex;
    /* border: 1px solid #fff; */
    /* border-radius: 10px ; */
  }
  .reachimg1{
    width: auto !important;
    height: 23vh !important;
    margin: 5px;
  }
  .reachimg2{
    width: auto !important;
    height: 23vh !important ;
    margin: 5px;
  }
  .reachimg3{
    width: auto !important;
    height: 28.8vh    !important;
    margin: 5px;
  }
  .clientle{
    padding: 100px 130px;
  }
  .mainheading {
    margin-top: 0;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
  }
  .sec_heading{
    margin-top: -30px;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .mainheadingf {
    margin-top: 0;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-transform: uppercase;
  }
  .sec_headingf{
    margin-top: -30px;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }
  .filtergal{
    background: #fff;
    padding: 50px 150px;
  }
  .services{
    padding: 100px 140px;
  }
  .service_hight{
    height: auto;
    display: inline-grid;
    align-items: center;
    margin: 40px 0;
}
.digiimgsec{
  padding: 50px 0 30px 0;
}
.digiimg{
  width: 30% !important;
  margin: 8px;
}
.column1pkg {
  flex: 31%;
  padding: 10px;
 /* Should be removed. Only for demonstration */
}
.wokeani {
  background: #fff;
  opacity: 0.2;
  padding: 20px;
  rotate: 4deg;
  transform: skewX(5deg);
}
.wokeani span{
  font-family: 'poppins';
  margin: 0 30px;
  font-size: 30px;
  font-weight: 600;
}
.wokeanilr {
  margin-top: -80px;
  background: #fff;
  padding: 20px;
  rotate: -4deg;
  transform: skewX(-4deg);
}
.wokeanilr span{
  font-family: 'poppins';
  margin: 0 30px;
  font-size: 30px;
  font-weight: 600;
}
.filtersec{
  padding: 180px 100px 0 100px;
  font-family: 'poppins';
  font-size: 18px;
}
.filtergal{
  padding: 50px 150px;
}
.clientle{
  padding: 50px 130px;
}
.divider {
  gap: 40px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 400;
  font-family: 'poppins';
  display: flex;
  color: #898989;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.5px;
  background-color: #959595;
  margin: 5px;
}
.brandanim{
    margin: -30px 0 0 0;
  }
  .rowstory {
    padding: 0px ;
    display: flex;
    border-radius: 10px ;
  }
  
  /* Create two equal columns that sits next to each other */
  .columnst1 {  
    flex: 47%;
    padding: 10px;
   /* Should be removed. Only for demonstration */
  }
  .columnst2 {
    flex: 53%;
    padding: 10px;
   /* Should be removed. Only for demonstration */
  }
  .storydesc{
    font-family: 'poppins';
    font-size: 18px;
    color: #9E9E9E;
    font-weight: 300;
    line-height: 30px;
  }
  .stimg{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 72%;
  }
  .brandanim{
    margin: -00px 0 0 0;
  }
  .prodiff{
    margin: 100px 120px;
    border: 1px solid #ffffff60;
    border-radius: 10px;
  }
  .columnpdiff1{
    flex: 70%;
    height: 237px;
    padding: 10px;
  }
  .columnpdiff2{
    flex: 35%;
    padding: 10px;
    border-left: 1px solid #ffffff60;
  }
  .columnpdiff1 h2{
    padding: 50px 80px;
    font-size: 40px;
    font-family: 'poppins';
    color: #fff;
  }
  .columnpdiff2 h3{
    padding: 30px 50px 0 50px;
    cursor: pointer;
    text-align: center;
    font-size: 70px;
    font-family: 'poppins';
    color: #fff;
    font-weight: 600;
  }
  .columnpdiff2 p{
    padding: 0 89px;
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    color: #9E9E9E;
  }
  .columnpdiff3{
    flex: 33.33%;
    padding: 10px;
    /* border-left: 1px solid #ffffff60; */
  }
  .columnpdiff4{
    flex: 33.33%;
    padding: 10px;
    border-left: 1px solid #ffffff60;
  }
  .columnpdiff5{
    flex: 33.33%;
    padding: 10px;
    border-left: 1px solid #ffffff60;
  }
  .columnpdiff6{
    flex: 33.33%;
    padding: 10px;
    border-left: 1px solid #ffffff60;
  }
  #proj{
    border-top: 1px solid #ffffff60;
    border-radius: 0 !important;
  }
  .columnpdiff3  h3{
    padding: 30px 50px 0 50px;
    cursor: pointer;
    text-align: center;
    font-size: 70px;
    font-family: 'poppins';
    color: #9E9E9E;
    font-weight: 600;
  }
  .columnpdiff3  p{
    padding: 0 40px 40px 40px;
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    color: #9E9E9E;
  }
  .columnpdiff4  h3{
    padding: 30px 50px 0 50px;
    cursor: pointer;
    text-align: center;
    font-size: 70px;
    font-family: 'poppins';
    color: #9E9E9E;
    font-weight: 600;
  }
  .columnpdiff4  p{
    padding: 0 40px 40px 40px;
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    color: #9E9E9E;
  }
  .columnpdiff5  h3{
    padding: 30px 50px 0 50px;
    cursor: pointer;
    text-align: center;
    font-size: 70px;
    font-family: 'poppins';
    color: #9E9E9E;
    font-weight: 600;
  }
  .columnpdiff5  p{
    padding: 0 40px 40px 40px;
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    color: #9E9E9E;
  }
  .columnpdiff6  h3{
    padding: 30px 50px 0 50px;
    cursor: pointer;
    text-align: center;
    font-size: 70px;
    font-family: 'poppins';
    color: #9E9E9E;
    font-weight: 600;
  }
  .columnpdiff6  p{
    padding: 0 40px 40px 40px;
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    color: #9E9E9E;
  }
  .videosec{
    margin: 100px 120px;
  }
  .videosec img{
    width: 100% !important;
  }
  .columnpdiff3 h3:hover,
  .columnpdiff4 h3:hover,
  .columnpdiff5 h3:hover,
  .columnpdiff6 h3:hover {
      color: #fff;
  }
  .columnpdiff2 h3:hover, .columnpdiff3 h3:hover, .columnpdiff4 h3:hover, .columnpdiff5 h3:hover, .columnpdiff6 h3:hover{
    color: #34FF9D !important;
  }
  .shopsec{
    overflow: hidden;
    margin: 100px 150px;
    height: 350px;
    background-image: url('/home/shopbg.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  .shoprow {
    padding: 0px ;
    display: flex;
  }
  .shopcol1{
    margin-left: 50px !important;
    flex: 40%;
  }
  .shopcol2{
    padding-left: 50px;
    flex: 80%;
  }
  .shopwi2{
    height: 200px;
    animation: slideUp 20s linear infinite;
    width: 100%;
    margin: 0 4px;
  }
  .shopwi1{
    height: 200px;
    width: 100%;
    margin: 0 3px;
    animation: slideUp 20s linear infinite;
  }
  .shoprowinn{
    rotate: -6deg;
    margin: 0 20px;
    text-align: center;
    padding: 0px ;
    display: flex;
  }
  .ppimgs{
    margin: 1px 0;
    width: 100% !important;
    
  }
  .mainheadingdc {
    margin-top: 30px;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
  }
  .sec_headingdc{
    margin-top: -30px;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .starim{
    width: 30px !important;
    height: 100% !important;
    margin-top: 42px;
    margin-left: 9px;
  }
  .dcdesc{
    color: #fff;
    font-family: 'poppins';
    font-size: 20px;
    margin: 0 100px 30px 0px;
  }
  .dcbtn{
    background: #fff;
    padding: 12px 30px;
    color: #000;
    font-family: 'poppins';
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .accordion {
   
  }
  
  .content {
    height: auto;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  .formcontainer{
    padding: 60px 30px !important;
  }
  .caas{
    margin-left: -35px;
    width: 40% !important;
  }
  .fdesc{
    font-family: 'poppins';
    color: #9E9E9E;
    font-size: 20px;

  }
  .conhead{
    margin-top: 50px;
    font-family: 'poppins';
    color: #fff;
    font-size: 25px;
  }
  .scicon{
    width: 6% !important;
    margin: 0 11px 0 0;
  }
  .socialmedia{
    margin-top: 20px;
  }
  .formhead{
    color: #000000;
    font-family: 'poppins';
    font-size: 4.6vh;
    text-align: center;
  }
  .formdesc{
    margin-top: 0px;
    font-family: 'poppins';
    font-weight: 300 !important;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  .formInput{
    width: 100%;
    margin: 20px 0;
  }
  .phone{
    padding-left: 20px !important;
  }
  .subsbtns{
    padding: 13px 30px 13px 30px;
    background: #000;
    float: right;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'poppins';
    border-radius: 10px;
    margin: 0 11px 30px 11px;
  }
  .flexs{
    display: flex !important;
  }
  .formInput input,.formInput select{
    width: 100%;
    font-weight: 300 !important;
    padding: 5px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'poppins';
    font-size: 16px;
    color: #000;
    -webkit-transition: 0.1s;
  transition: 0.1s;
  }
  .formInput input:focus {
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
  }
  .checktitle{
    font-size: 18 px;
    color: #000;
    font-family: 'poppins';
    font-weight: 300 !important;
    margin-bottom: 10px;
  }
  .chekinput, .chekinputt{
    font-family: 'poppins';
    margin: 5px 0;
  }
  .chekinput label{
    font-weight: 300;
    margin: 0 35px 0 0;
  }
  .chekinputt label{
    font-weight: 300;
    margin: 0 19px 0 0;
  }
  .contbtn{
    background: #000;
    color: #fff;
    font-size: 20px;
    float: right;
    padding: 12px 20px;
    border-radius: 10px;
  }
  .subsbtn{
    background: #000;
    float: right;
    color: #fff;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 16px;
    font-family: 'poppins';
    text-transform: uppercase;
  }
  /* components/RotatingText.module.css */

  .text {
    margin-bottom: 10px;
    font-size: 2.6vw;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-transform: uppercase;
    position: relative; /* For positioning the rotating text */
  }
  
  .rotatingText {
    display: inline-block;
    position: relative;
    color: #000;
  }
  
  .slideIn {
    animation: slideIn 0.8s ease-out forwards;
  }
  
  .slideOut {
    animation: slideOut 0.8s ease-in forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-30px);
      opacity: 0;
    }
  }

  .typewriterContainer {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  
  }
  .search{
    padding: 5px 20px;
    width: 500px;
    border: 1px solid #000;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  
  .typing {
    overflow: hidden;
    font-family: 'poppins';
    white-space: nowrap;
    font-size: 1.3rem;
    font-style: italic;
    color: #000;
    width:750px;
    border-right: 1.6px solid #000;
    animation: Typing 5.9s steps(70, end) infinite alternate,
      Bar 1s step-end infinite;
    
  }
  
  @keyframes Typing {
    0% {
      width: 0;
    }
    100% {
      width: 350px;
    }
  }
  
  @keyframes Bar {
    0% {
       border-right: 1.6px solid rgba(226, 192, 68,0);
    }
    50% {
       border-right: 1.6px solid #000;
    }
    100% {
        border-right: 1.6px solid rgba(226, 192, 68,0);
    }
  }
.rsearch{
  width: 17px !important;
    margin-right: 12px;
}
.caassec{
  position: absolute;
    right: 65vh;
    bottom: -14vh;
  
}
.cass{
  width: 31vh !important;
   
}
.partnersec{
  margin: 10px 5px;
}
.partnerh{
  font-weight: 600;
  font-family: 'poppins';
  font-size: 20px;
}
.partnerimgsec{
  cursor: pointer;
  align-items: baseline;
  vertical-align: middle;
  display: flex;
  margin: 15px 0;
}
.partnerimg{
  margin-right: 15px;
  width: 120px;
  filter: grayscale(1);
}
.shopify{
  width: 100px !important;
  margin-right: 15px !important;
  filter: grayscale(1);
}
.partnerimg:hover , .shopify:hover{
  filter: grayscale(0);
 
}
.mobmenu{
  background: #fff;
}
.mobmenu{
  overflow: hidden;
  display: none;
}
@media only screen and (max-width: 600px) {
  .service_hight{
    display: block;
  }
  .formInput input{
    font-size: 14px !important;
  }
  .checktitle{
    font-size: 14px;
  }
  .chekinput label {
    font-weight: 300;
    margin: 0 10px 0 0;
    font-size: 12px;
}
.chekinputt label {
  font-weight: 300;
  margin: 0 10px 0 0;
  font-size: 12px;
}
  .mobmenu {
    padding: 10px 20px;
    display: block;
  }
  .mobcol{
    flex: 50%;
  }
  .moblogo svg{
    width: 100px;
  }
  .logosec{
    display: none;
  }
  .search{
    width: 88%;
  }
  .innersec {
    padding: 20px;
}
.reachimg1, .reachimg2 {
  width: 48% !important;
  height: auto !important;
  margin: 5px;
}
.reachimg3 {
  width: 99% !important;
  height: auto !important;
  margin: 5px;
}
.reachimg {
  display: none;
}
.mobrow{
  display: flex;
}
.text {
  margin-bottom: 10px;
  font-size: 7.4vw;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-transform: uppercase;
  position: relative;
}
.row {
  /* padding: 40px 40px 0 40px; */
  display: block;
  /* border: 1px solid #fff; */
  /* border-radius: 10px; */
}
.reachuslogo{

}
.typing {
  overflow: hidden;
  font-family: 'poppins';
  white-space: nowrap;
  font-size: 14px;
  font-style: italic;
  color: #000;
  width: auto;
  border-right: 1.6px solid #000;
  animation: Typing 3.9s steps(70, end) infinite alternate, page_Bar__Cnavh 1s step-end infinite;
}
.rsearch {
  width: 14px !important;
  margin-right: 12px;
}
.column2 {
  flex: 32% 1;
  padding: 0px;
  background: #FFF8F0;
}
.formhead {
  color: #000000;
  font-family: 'poppins';
  font-size: 3.1vh;
  text-align: center;
}
.chekinput label {
  font-weight: 300;
  margin: 0 24px 0 0;
}
.chekinputt label {
  font-weight: 300;
  margin: 0 8px 0 0;
}
.formcontainer {
  padding: 81px 30px !important;
}
.mainheading {
  margin-top: 0;
  font-size: 34px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}
.sec_heading {
  margin-top: -20px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.filtergal {
  padding: 50px 20px;
}
.clientle {
  padding: 50px 20px;
}
.mainheadingf {
  margin-top: 0;
  font-size: 33px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-transform: uppercase;
}
.sec_headingf {
  margin-top: -16px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 33px;
  font-family: 'Poppins', sans-serif;
  color: #000;
}
.shopify {
  width: 64px !important;
  margin-right: 15px !important;
  filter: grayscale(1);
}
.services {
  padding: 50px 20px;
}
.desktopv{
  display: none !important;
}
.mobilev{
  display: block !important;
}
.checktitle {
  font-size: 14px;
  color: #000;
  font-family: 'poppins';
  font-weight: 300 !important;
  margin-bottom: 10px;
}
.chekinput label {
  font-weight: 300;
  margin: 0px 10px 0 0;
  font-size: 12px;
}
.chekinputt label {
  font-weight: 300;
  margin: 0px 0px 0 0;
  font-size: 12px;
}
.dropdownButton {
  width: 100%;
  border-bottom: 1px solid #000 !important;
  color: #959392;
  padding: 10px 0;
  font-size: 14px !important;
  border: none;
  cursor: pointer !important;
  text-align: left;
  font-family: 'poppins';
  background: transparent;
}
.dropdownContent {
  font-family: 'poppins';
  font-size: 14px;
  display: block !important;
  padding: 0 !important;
  align-items: center;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  height: 111px;
  top: 223px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  overflow-y: scroll !important;
  background: #fff8f0;
  border-radius: -3px;
}

}
.secondsec{}
.gridContainer {
  align-items: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 0; /* Adjust as needed */
}

.gridItem {
  align-items: center;
  font-family: 'poppins';
  height: 100px;
  border: 0.5px solid #ffffff30;
  background-color: transparent; /* Optional: background color for each item */
  padding: 20px; /* Optional: padding for each item */
  text-align: center;
  transition: transform 0.3s;
}

.desktopv{
  display: block;
}

.prtitle {
  color: #fff;
  font-size: 1.5em;
 
}
.prtitle:hover{
  color: rgb(52, 255, 157) !important;
}

.prdesc {
  font-size: 12px;
  color: #fff; /* Optional: color for the description */
}
.overtext{
  color: #fff;
    text-align: left;
    font-size: 17px;  
}
.mobilev{
  display: none;
}
.prodifff{
  margin: 100px 20px;
}
.columnpdiff2 h3:hover, .columnpdiff3 h3:hover, .columnpdiff4 h3:hover, .columnpdiff5 h3:hover, .columnpdiff6 h3:hover {
  color: rgb(52, 255, 157) !important;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  width: 100%;
  border-bottom: 1px solid #000 !important;
  color: #000000ad;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  cursor: pointer !important;
  text-align: left;
  font-family: 'poppins';
  background: transparent;
  font-weight: 300 !important;
}
.dropdownButton::after{
  content: ">";
  color: #000;
  font-weight: 500;
  rotate: 90deg;
  position: absolute;
  right: 14px;
  font-size: 20px;
  cursor: pointer !important;
}
.dropdownButton::after:active{
  rotate: -90deg;
}


.dropdownContent {
  font-family: 'poppins';
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 !important;
  align-items: center;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  height: 111px;
  top: 223px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  overflow-y: hidden;
  background: #fff8f0;
  border-radius: -3px;
}

.checkboxLabel {
  display: flex;
  padding: 8px 16px;
}

.checkboxLabel input {
  margin-right: 8px;
  width: 10%;
}

.checkboxLabel:hover {
  background-color: #f1f1f1;
}
